@page "/settings/profile"
@using Conflux.Components.Shared
@using Conflux.Database.Entities
@using Conflux.Helpers
@using Conflux.Services
@using Conflux.Services.Abstracts
@using Markdig
@using Markdig.Parsers
@using Markdig.Syntax
@using Markdig.Syntax.Inlines
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Runtime.CompilerServices
@using System.Security.Claims

@implements IAsyncDisposable

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite
@inject IUserService UserService
@inject ApplicationRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject MarkdownPipeline MarkdownPipeline
@inject ProfileSanitizingService SanitizingService
@inject ILogger<ProfilePage> Logger
@inject IJSRuntime JSRuntime
@inject IContentService ContentService

@if (_user == null) {
    <div class="flex flex-col h-full">
        <h1 class="font-bold text-3xl flex-none">Profile Management</h1>
        
        <div class="flex-1 flex flex-row justify-center items-center">
            <div class="animate-bounce">
                <p class="font-bold animate-pulse">Loading profile...</p>
            </div>
        </div>
    </div>

    return;
}

<div class="relative h-full">
    <h1 class="font-bold text-3xl">Profile Management</h1>

    <TabContainer class="mt-2 pb-4" ButtonContainerCssClass="flex flex-row justify-start gap-3 border-b border-gray-600" InitiallyActiveId="@_activeTabId" OnActiveTabChanged="EventUtils.AsNonRenderingEventHandler<string>(HandleActiveTabChanged)">
        <Buttons Context="_">
            <TabButton TabId="preview" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Preview
            </TabButton>

            <TabButton TabId="edit" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Edit
            </TabButton>
        </Buttons>

        <Contents Context="_">
            <TabContent TabId="preview">
                <div class="mt-3 mx-0 w-full md:mx-auto md:w-2/3 lg:w-3/4 grid grid-cols-1 lg:grid-cols-[40%_60%] border border-gray-800 shadow-lg rounded-lg">
                    <section class="pb-2 border-b border-b-gray-600 lg:border-r lg:border-r-gray-600 lg:border-b-0">
                        @* Avatar and Banner *@
                        <div class="relative h-32">
                            <div class="absolute inset-0 bg-cover bg-center bg-black rounded-tl-lg rounded-tr-lg lg:rounded-tr-none"></div>

                            <div class="absolute -bottom-8 left-4">
                                <div class="relative">
                                    <div class="w-20 h-20 rounded-full border-4 border-gray-700 overflow-hidden bg-black">
                                        @if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                                            <img src="@_user.ProfilePicturePath" alt="Profile Image" class="rounded-full size-full" style="transform: scaleX(@_user.ProfilePictureScaleX) scaleY(@_user.ProfilePictureScaleY);">
                                        }
                                    </div>

                                    @* TODO: Status indicator *@
                                </div>
                            </div>
                        </div>

                        @* Username, Bio, etc... *@
                        <div class="px-2 pt-10">
                            <p class="text-2xl font-bold">@Model.DisplayName</p>
                            <p class="text-sm">@_user.UserName</p>

                            <p class="mt-2 text-sm">
                                <span class="font-semibold">Joined since:</span> @_user.CreatedAt.ToString("yyyy/MM/dd")
                            </p>

                            @if (Model.Pronouns is { } pronouns) {
                                <p class="text-sm mt-2">
                                    <span class="font-semibold">Pronouns:</span>

                                    @pronouns
                                </p>
                            }
                        </div>
                    </section>

                    <section class="w-full p-4">
                        @if (!string.IsNullOrEmpty(_markupBio.Value)) {
                            @_markupBio
                        } else {
                            <div class="size-full flex justify-center items-center">
                                <p class="text-sm text-gray-400">Well this is awkward...</p>
                            </div>
                        }
                    </section>
                </div>
            </TabContent>

            <TabContent TabId="edit">
                <div class="mt-3 mx-0 w-full md:mx-auto md:w-2/3 lg:w-3/4">
                    <EditForm class="grid grid-cols-1 lg:grid-cols-2 gap-2" EditContext="_editContext" FormName="Profile">
                        <AntiforgeryToken/>
                        <DataAnnotationsValidator/>

                        <div class="">
                            <label class="font-semibold">Profile Image</label>
                            
                            @* Hidden InputFile *@
                            <InputFile @ref="_profileImageInputFile" type="file" class="hidden" accept="image/png, image/jpeg" OnChange="HandleProfileImageChange" id="profile-image"/>
                            
                            <div class="mt-2">
                                <TooltipContainer ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="top" TooltipOffset="8" ShowTooltip="@(!_editContext.IsValid(() => Model.ProfileImage.File))" Id="profileimage" class="max-w-[90%]">
                                    <Target>
                                        <div class="relative size-96 aspect-square mx-auto rounded-full border-4 border-gray-600 bg-black group cursor-pointer overflow-hidden">
                                            @if (!string.IsNullOrEmpty(_profileImagePreviewUrl)) {
                                                <img src="@_profileImagePreviewUrl" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfileImage.ZoomX) scaleY(@Model.ProfileImage.ZoomY);">
                                            } else if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                                                <img src="@_user.ProfilePicturePath" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfileImage.ZoomX) scaleY(@Model.ProfileImage.ZoomY);">
                                            }
                                        
                                            <p class="absolute inset-0 hidden group-hover:flex size-full text-center flex-row justify-center items-center" @onclick="OpenProfileImageModal">
                                                Click to change Profile Image
                                            </p>
                                        </div>
                                    </Target>
                                    
                                    <Tooltip>
                                        <ValidationMessage For="() => Model.ProfileImage.File" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                                    </Tooltip>
                                </TooltipContainer>
                                
                                <Dialog @bind-Open="_showProfileImageModal" @bind-DisplayContent="_renderProfileImageModal" OnClickOutside="CloseProfileImageModal" class="flex flex-row justify-center items-center">
                                    <div class="absolute inset-5 lg:static transition-transform duration-500 z-10 bg-(--bg-color-1) p-5 pointer-events-auto rounded-xl overflow-y-auto">
                                        <h1 class="font-bold text-2xl text-center">Profile Image</h1>

                                        <div class="grid grid-cols-1 lg:grid-cols-2 lg:mt-2">
                                            <section class="w-full lg:border-r lg:border-r-gray-600 lg:p-3">
                                                <div class="relative size-96 mt-2 bg-black mx-auto rounded-full overflow-hidden border-4 border-gray-600 group">
                                                    @if (!string.IsNullOrEmpty(_profileImagePreviewUrl)) {
                                                        <img @ref="_profileImagePreviewElement" src="@_profileImagePreviewUrl" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfileImage.ZoomX) scaleY(@Model.ProfileImage.ZoomY);">
                                                    } else if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                                                        <img @ref="_profileImagePreviewElement" src="@_user.ProfilePicturePath" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfileImage.ZoomX) scaleY(@Model.ProfileImage.ZoomY)">
                                                    } else {
                                                        <img @ref="_profileImagePreviewElement" src="" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full">
                                                    }
                                                    
                                                    <label class="absolute inset-0 hidden group-hover:flex size-full flex-row justify-center items-center cursor-pointer z-10 bg-black/40" for="profile-image">
                                                        Click to change Profile Image
                                                        
                                                        @* <InputFile @ref="_profileImageInputFile" type="file" class="hidden" accept="image/png, image/jpeg" OnChange="HandleProfileImageChange"/> *@
                                                    </label>
                                                </div>
                                            </section>
                                            
                                            <section class="mt-2 lg:mt-0 lg:p-3 text-white">
                                                <p class="font-semibold text-xl">Adjustments</p>
                                                
                                                <div class="mt-2 flex flex-col">
                                                    <label>Horizontal Scale (@Model.ProfileImage.ZoomX.ToString("P0"))</label>
                                                    <AdjustmentSlider type="range" min="0.25" max="5" step="0.01" @bind-Value="Model.ProfileImage.ZoomX"/>
                                                </div>
                                                
                                                <div class="flex flex-col">
                                                    <label>Vertical Scale (@Model.ProfileImage.ZoomY.ToString("P0"))</label>
                                                    <AdjustmentSlider type="range" min="0.25" max="5" step="0.01" @bind-Value="Model.ProfileImage.ZoomY"/>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </Dialog>
                            </div>
                        </div>

                        <div>
                            <label class="font-semibold">Username</label>
                            <input type="text" readonly value="@_user.UserName" class="mt-2 input-field h-11 w-full" disabled>
                        </div>

                        <div class="relative">
                            <label class="font-semibold">Display Name</label>
                            
                            <TooltipContainer ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="top" TooltipOffset="8" ShowTooltip="@(!_editContext.IsValid(_displayNameField))" Id="displayname" class="max-w-[90%]">
                                <Target>
                                    @{
                                        string classes = $"w-full h-11 mt-2 input-field {(_editContext.IsValid(_displayNameField) ? string.Empty : "border-red-700")}";
                                    }

                                    <InputText type="text" @bind-Value="Model.DisplayName" placeholder="Display Name" class="@classes" maxlength="32"/>
                                </Target>

                                <Tooltip>
                                    <ValidationMessage For="() => Model.DisplayName" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                                </Tooltip>
                            </TooltipContainer>
                        </div>

                        <div class="relative">
                            <label class="font-semibold">Pronouns</label>
                            
                            <TooltipContainer ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="top" TooltipOffset="8" ShowTooltip="@(!_editContext.IsValid(_pronounsField))" Id="pronouns" class="max-w-[90%]">
                                <Target>
                                    @{
                                        string classes = $"w-full h-11 mt-2 input-field {(_editContext.IsValid(_pronounsField) ? string.Empty : "border-red-700")}";
                                    }

                                    <InputText type="text" @bind-Value="Model.Pronouns" placeholder="Pronouns" class="@classes" maxlength="32"/>
                                </Target>

                                <Tooltip>
                                    <ValidationMessage For="() => Model.Pronouns" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                                </Tooltip>
                            </TooltipContainer>
                        </div>

                        <div class="col-start-1 col-end-2 lg:col-end-3">
                            <label class="font-semibold">About me</label>
                            
                            <TooltipContainer ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="top" TooltipOffset="8" ShowTooltip="@(!_editContext.IsValid(_bioField))" Id="bio" class="max-w-[90%]">
                                <Target>
                                    @{
                                        string classes = $"w-full h-55 mt-2 input-field {(_editContext.IsValid(_bioField) ? string.Empty : "border-red-700")}";
                                    }

                                    <InputTextArea type="text" @bind-Value="Model.Bio" class="@classes" placeholder="Biography"/>
                                </Target>

                                <Tooltip>
                                    <ValidationMessage For="() => Model.Bio" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                                </Tooltip>
                            </TooltipContainer>
                        </div>
                    </EditForm>
                </div>
            </TabContent>
        </Contents>
    </TabContainer>
</div>

<SectionContent SectionName="OutsideContainer">
    <UnsavedChangesPopup @ref="_unsavedPopup" OnCancelRequest="CancelEdit" OnSaveRequest="SaveProfile"/>
</SectionContent>

<SectionContent SectionName="javascript">
    @if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
        <script type="module" src="scripts/pages/settings/profile.ts"></script>
    } else {
        if (ViteManifest["scripts/pages/settings/profile.ts"] is { } chunk) {
            <script type="module" src="@chunk.File"></script>

            if (chunk.Imports != null) {
                foreach (string import in chunk.Imports) {
                    if (!ViteManifest.ContainsKey(import)) continue;

                    <script type="module" src="@ViteManifest[import]!.File"></script>
                }
            }
        }
    }
</SectionContent>

@code {
    private ApplicationUser? _user;

    [SupplyParameterFromForm(FormName = "Profile")]
    private InputModel Model { get; set; } = new() {
        DisplayName = string.Empty,
    };

    private EditContext _editContext;

    private MarkupString _markupBio;
    
    // pain
    private string _activeTabId = "preview";

    private UnsavedChangesPopup _unsavedPopup = null!;

    private bool _showProfileImageModal, _renderProfileImageModal = false;

    private InputFile _profileImageInputFile;
    private ElementReference _profileImagePreviewElement;

    private IJSObjectReference _module;
    
    private string? _profileImagePreviewUrl;

    private FieldIdentifier _displayNameField, _pronounsField, _bioField;
    private ValidationMessageStore _validationMessages;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnInitializedAsync() {
        ClaimsPrincipal claimsPrincipal = (await AuthenticationState).User;
        _user = await UserManager.GetUserAsync(claimsPrincipal);
        
        if (_user == null) {
            // How did we get here? Pretty sure [Authorize] at _Imports.razor should redirect to login if there is no
            // current user.
            RedirectManager.To("/auth/login").Execute();
            return;
        }

        CopyUserDataToProfileModel();
        ParseMarkdownBio(Model.Bio ?? string.Empty);

        _editContext = new(Model);
        _editContext.OnFieldChanged += (sender, args) => {
            if (_editContext.IsValid(args.FieldIdentifier)) {
                _unsavedPopup.ShowPopup();

                if (args.FieldIdentifier.FieldName == nameof(Model.Bio)) {
                    ParseMarkdownBio(Model.Bio ?? string.Empty);
                }
            }
        };

        _displayNameField = _editContext.Field(nameof(Model.DisplayName));
        _pronounsField = _editContext.Field(nameof(Model.Pronouns));
        _bioField = _editContext.Field(nameof(Model.Bio));

        _validationMessages = new(_editContext);
        _editContext.OnValidationRequested += ValidationRequested;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./scripts/pages/settings/profile.ts");
        }
    }

    private void HandleActiveTabChanged(string tabId) {
        _activeTabId = tabId;
    }

    private async Task SaveProfile() {
        ClaimsPrincipal claimsPrincipal = (await AuthenticationState).User;
        ApplicationUser? user = await UserManager.GetUserAsync(claimsPrincipal);
        
        if (user == null) {
            // Just in case...

            RedirectManager.To("/").Execute();
            return;
        }
        
        if (!_editContext.Validate()) {
            return;
        }

        try {
            // Copy model properties into user instance
            _user = user;
            CopyProfileModelToUserData();

            // Process profile image.
            if (Model.ProfileImage.File is { } imageFile) {
                string profileImageRelativePath = ContentService.GetRelativeContentPath("profile", "images", $"{_user.Id}_avatar{Path.GetExtension(imageFile.Name)}");
                string profileImageAbsolutePath = ContentService.GetAbsoluteContentPath(profileImageRelativePath);
                
                using var destStream = File.OpenWrite(profileImageAbsolutePath);
                destStream.Position = 0;
                await destStream.FlushAsync();
                
                using var srcStream = imageFile.OpenReadStream(ApplicationConstants.ProfileImageMaxSize);

                await srcStream.CopyToAsync(destStream);

                _user.ProfilePicturePath = profileImageRelativePath;
            } else if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                try {
                    File.Delete(ContentService.GetAbsoluteContentPath(_user.ProfilePicturePath));
                } catch (IOException e) {
                    Logger.LogError(e, "IOException while deleting user avatar.");
                }
            }

            var updateResult = await UserManager.UpdateAsync(_user);

            if (!updateResult.Succeeded) {
                // TODO: Report.
            }

            _profileImagePreviewUrl = null;
            Model.ProfileImage.File = null!;
        } finally {
            _unsavedPopup.HidePopup();
        }
    }

    private void CancelEdit() {
        // Recreate model to reset all the Validation messages
        Model = new() {
            DisplayName = string.Empty
        };

        CopyUserDataToProfileModel();
        
        ResetProfileForm();
    }

    private void ParseMarkdownBio(string bio) {
        if (string.IsNullOrWhiteSpace(bio)) {
            _markupBio = new(string.Empty);
            return;
        }
        
        var document = Markdown.Parse(bio, MarkdownPipeline);
        _markupBio = (MarkupString)SanitizingService.Sanitize(document.ToHtml(MarkdownPipeline));
    }

    private async Task OpenProfileImageModal() {
        _showProfileImageModal = true;

        await Task.Delay(500);
        
        _renderProfileImageModal = true;
        StateHasChanged();
    }

    private void CloseProfileImageModal() {
        _showProfileImageModal = false;
        _renderProfileImageModal = false;
    }

    private async Task HandleProfileImageChange(InputFileChangeEventArgs args) {
        if (_profileImageInputFile.Element is not { } inputFileElement) {
            return;
        }
        
        string url = await _module.InvokeAsync<string>("previewImage", inputFileElement, _profileImagePreviewElement);
        Model.ProfileImage.File = args.File;
        _profileImagePreviewUrl = url;
        
        _unsavedPopup.ShowPopup();
    }
    
    public async ValueTask DisposeAsync() {
        if (_module != null!) {
            try {
                await _module.DisposeAsync();
            } catch (JSDisconnectedException) {
            }
        }
    }

    private void ResetProfileForm() {
        _editContext = new(Model);
        _editContext.OnFieldChanged += (sender, args) => {
            _unsavedPopup.ShowPopup();

            if (args.FieldIdentifier.FieldName == nameof(Model.Bio)) {
                ParseMarkdownBio(Model.Bio ?? string.Empty);
            }
        };

        _displayNameField = _editContext.Field(nameof(Model.DisplayName));
        _pronounsField = _editContext.Field(nameof(Model.Pronouns));
        _bioField = _editContext.Field(nameof(Model.Bio));

        _validationMessages = new(_editContext);
        _editContext.OnValidationRequested += ValidationRequested;
    }

    private void ValidationRequested(object? sender, ValidationRequestedEventArgs args) {
        _validationMessages.Clear();

        if (Model.ProfileImage.File is { } profileImageFile) {
            string extension = Path.GetExtension(profileImageFile.Name).ToLowerInvariant();

            string[] allowedExtensions = [ ".jpeg", ".jpg", ".png" ];

            if (string.IsNullOrEmpty(extension) || !allowedExtensions.Contains(extension)) {
                _validationMessages.Add(() => Model.ProfileImage.File, "Invalid file format.");
            }

            if (profileImageFile.Size > ApplicationConstants.ProfileImageMaxSize) {
                _validationMessages.Add(() => Model.ProfileImage.File, $"Avatar surpassed maximum allowed size of {ApplicationConstants.ProfileImageMaxSize} bytes.");
            }
        }
    }

    private void CopyUserDataToProfileModel() {
        Model.DisplayName = _user!.DisplayName;
        Model.Pronouns = _user.Pronouns;
        Model.Bio = _user.Bio;
        Model.ProfileImage.ZoomX = _user.ProfilePictureScaleX;
        Model.ProfileImage.ZoomY = _user.ProfilePictureScaleY;
    }

    private void CopyProfileModelToUserData() {
        _user!.DisplayName = Model.DisplayName;
        _user.Pronouns = Model.Pronouns;
        _user.Bio = Model.Bio;
        _user.ProfilePictureScaleX = Model.ProfileImage.ZoomX;
        _user.ProfilePictureScaleY = Model.ProfileImage.ZoomY;
    }

    private sealed class InputModel {
        [StringLength(32, MinimumLength = 8), Required] public required string DisplayName { get; set; }
        [StringLength(maximumLength: 32)] public string? Pronouns { get; set; }
        [StringLength(255)] public string? Bio { get; set; }

        public ProfileImageModel ProfileImage { get; set; } = new();
    }
    
    public sealed class ProfileImageModel : INotifyPropertyChanged {
        private double zoomX = 1.0;
        private double zoomY = 1.0;
        private IBrowserFile? _file;

        [Range(0.25, 5)]
        public double ZoomX {
            get => Math.Round(zoomX, 2);
            set {
                if (Math.Abs(value - zoomX) > 0.01) {
                    zoomX = Math.Clamp(value, 0.25, 5);
                    OnPropertyChanged();
                }
            }
        }

        [Range(0.25, 5)]
        public double ZoomY {
            get => Math.Round(zoomY, 2);
            set {
                if (Math.Abs(value - zoomY) > 0.01) {
                    zoomY = Math.Clamp(value, 0.25, 5);
                    OnPropertyChanged();
                }
            }
        }

        public IBrowserFile? File {
            get => _file;
            set {
                _file = value;
                // OnPropertyChanged();
            }
        }
        
        public event PropertyChangedEventHandler? PropertyChanged;

        private void OnPropertyChanged([CallerMemberName] string? propertyName = null) {
            PropertyChanged?.Invoke(this, new(propertyName));
        }
    }
}