@page "/settings/profile"

@using Conflux.Components.Services
@using Conflux.Components.Services.Abstracts
@using Conflux.Components.Shared
@using Conflux.Database.Entities
@using Conflux.Helpers
@using Markdig
@using Markdig.Parsers
@using Markdig.Syntax
@using Markdig.Syntax.Inlines
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Runtime.CompilerServices

@implements IAsyncDisposable

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite
@inject IAccountService AccountService
@inject ApplicationRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject MarkdownPipeline MarkdownPipeline
@inject ProfileSanitizingService SanitizingService
@inject ILogger<ProfilePage> Logger
@inject IJSRuntime JSRuntime

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (_user == null) {
    <div class="flex flex-col h-full">
        <h1 class="font-bold text-3xl flex-none">Profile Management</h1>
        
        <div class="flex-1 flex flex-row justify-center items-center">
            <div class="animate-bounce">
                <p class="font-bold animate-pulse">Loading profile...</p>
            </div>
        </div>
    </div>

    return;
}

<div class="relative h-full">
    <h1 class="font-bold text-3xl">Profile Management</h1>

    <TabContainer class="mt-2" ButtonContainerCssClass="flex flex-row justify-start gap-3 border-b border-gray-600" InitiallyActiveId="@_activeTabId" OnActiveTabChanged="EventUtils.AsNonRenderingEventHandler<string>(HandleActiveTabChanged)">
        <Buttons Context="_">
            <TabButton TabId="preview" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Preview
            </TabButton>

            <TabButton TabId="edit" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Edit
            </TabButton>
        </Buttons>

        <Contents Context="_">
            <TabContent TabId="preview">
                <div class="mt-3 mx-0 w-full md:mx-auto md:w-2/3 lg:w-3/4 grid grid-cols-1 lg:grid-cols-[40%_60%] border border-gray-800 shadow-lg rounded-lg">
                    <section class="pb-2 border-b border-b-gray-600 lg:border-r lg:border-r-gray-600 lg:border-b-0">
                        @* Banner and Profile Picture *@
                        <div class="relative h-32">
                            <div class="absolute inset-0 bg-cover bg-center bg-black rounded-tl-lg rounded-tr-lg lg:rounded-tr-none"></div>

                            <div class="absolute -bottom-8 left-4">
                                <div class="relative">
                                    <div class="w-20 h-20 rounded-full border-4 border-gray-700 bg-gray-700 overflow-hidden">
                                        @{
                                            int id = Random.Shared.Next(0, 100);
                                        }

                                        <img src="https://randomuser.me/api/portraits/men/@(id).jpg"
                                             alt="Profile"
                                             class="w-full h-full object-cover">
                                    </div>

                                    @* TODO: Status indicator *@
                                </div>
                            </div>
                        </div>

                        @* Username, Bio, etc... *@
                        <div class="px-2 pt-10">
                            <p class="text-2xl font-bold">@Model.DisplayName</p>
                            <p class="text-sm">@_user.UserName</p>

                            <p class="mt-2 text-sm">
                                <span class="font-semibold">Joined since:</span> @_user.CreatedAt.ToString("yyyy/MM/dd")
                            </p>

                            @if (Model.Pronouns is { } pronouns) {
                                <p class="text-sm mt-2">
                                    <span class="font-semibold">Pronouns:</span>

                                    @pronouns
                                </p>
                            }
                        </div>
                    </section>

                    <section class="w-full p-4">
                        @if (!string.IsNullOrEmpty(_markupBio.Value)) {
                            @_markupBio
                        } else {
                            <div class="size-full flex justify-center items-center">
                                <p class="text-sm text-gray-400">Well this is awkward...</p>
                            </div>
                        }
                    </section>
                </div>
            </TabContent>

            <TabContent TabId="edit">
                <div class="mt-3 mx-0 w-full md:mx-auto md:w-2/3 lg:w-3/4">
                    <EditForm class="grid grid-cols-1 lg:grid-cols-2 gap-2" EditContext="_editContext" FormName="Profile">
                        <AntiforgeryToken/>
                        <DataAnnotationsValidator/>

                        <div class="lg:col-span-2">
                            <label class="font-semibold">Profile Picture</label>
                            
                            <div class="mt-2">
                                <div class="relative w-2/3 aspect-square mx-auto rounded-full border-4 border-gray-600 bg-black group cursor-pointer overflow-hidden">
                                    @if (!string.IsNullOrEmpty(_profilePicturePreviewUrl)) {
                                        <img src="@_profilePicturePreviewUrl" alt="Profile Picture" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfilePictureAdjustment.ZoomX) scaleY(@Model.ProfilePictureAdjustment.ZoomY);">
                                    } else if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                                        <img src="@_user.ProfilePicturePath" alt="Profile Picture" class="absolute inset-0 object-cover pointer-events-none rounded-full">
                                    }
                                    
                                    @* @if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) { *@
                                    @*     <img src="@_user.ProfilePicturePath" alt="Profile Picture"> *@
                                    @* } *@
                            
                                    <p class="absolute inset-0 hidden group-hover:flex size-full flex-row justify-center items-center" @onclick="OpenProfilePictureModal">
                                        Click to change Profile Picture
                                    </p>
                                </div>
                                
                                <Dialog @bind-Open="_showProfilePictureModal" @bind-DisplayContent="_renderProfilePictureModal" OnClickOutside="CloseProfilePictureModal" class="flex flex-row justify-center items-center">
                                    <div class="absolute inset-5 lg:static transition-transform duration-500 z-10 bg-(--bg-color-1) p-5 pointer-events-auto rounded-xl overflow-y-auto">
                                        <h1 class="font-bold text-2xl text-center">Profile Picture</h1>

                                        <div class="grid grid-cols-1 lg:grid-cols-2 lg:mt-2">
                                            <section class="w-full lg:border-r lg:border-r-gray-600 lg:p-3">
                                                <div class="relative size-96 mt-2 bg-black mx-auto rounded-full overflow-hidden border-4 border-gray-600 group">
                                                    <img @ref="_profileImagePreviewElement" src="" alt="" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfilePictureAdjustment.ZoomX) scaleY(@Model.ProfilePictureAdjustment.ZoomY);">
                                                    
                                                    @if (!string.IsNullOrEmpty(_profilePicturePreviewUrl)) {
                                                        <img @ref="_profileImagePreviewElement" src="@_profilePicturePreviewUrl" alt="Profile Picture" class="absolute inset-0 object-cover pointer-events-none rounded-full" style="transform: scaleX(@Model.ProfilePictureAdjustment.ZoomX) scaleY(@Model.ProfilePictureAdjustment.ZoomY);">
                                                    } else if (!string.IsNullOrEmpty(_user.ProfilePicturePath)) {
                                                        <img @ref="_profileImagePreviewElement" src="@_user.ProfilePicturePath" alt="Profile Picture" class="absolute inset-0 object-cover pointer-events-none rounded-full">
                                                    } else {
                                                        <img @ref="_profileImagePreviewElement" src="" alt="Profile Picture" class="absolute inset-0 object-cover pointer-events-none rounded-full">
                                                    }
                                                    
                                                    <label class="absolute inset-0 hidden group-hover:flex size-full flex-row justify-center items-center cursor-pointer z-10 bg-black/40">
                                                        Click to change Profile Picture
                                                        
                                                        <InputFile @ref="_profileImageInputFile" type="file" class="hidden" OnChange="HandleProfilePictureChange"/>
                                                    </label>
                                                </div>
                                            </section>
                                            
                                            <section class="mt-2 lg:mt-0 lg:p-3 text-white">
                                                <p class="font-semibold text-xl">Adjustments</p>
                                                
                                                <div class="mt-2 flex flex-col">
                                                    <label>Horizontal Scale (@Model.ProfilePictureAdjustment.ZoomX.ToString("P0"))</label>
                                                    <AdjustmentSlider type="range" min="0.25" max="5" step="0.01" @bind-Value="Model.ProfilePictureAdjustment.ZoomX"/>
                                                </div>
                                                
                                                <div class="flex flex-col">
                                                    <label>Vertical Scale (@Model.ProfilePictureAdjustment.ZoomY.ToString("P0"))</label>
                                                    <AdjustmentSlider type="range" min="0.25" max="5" step="0.01" @bind-Value="Model.ProfilePictureAdjustment.ZoomY"/>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </Dialog>
                            </div>
                        </div>

                        <div>
                            <label class="font-semibold">Username</label>
                            <input type="text" readonly value="@_user.UserName" class="mt-2 input-field h-11 w-full" disabled>
                        </div>

                        <div>
                            <label class="font-semibold">Display Name</label>
                            <InputText type="text" @bind-Value="Model.DisplayName" class="mt-2 input-field h-11 w-full" placeholder="Display Name"/>
                        </div>

                        <div>
                            <label class="font-semibold">Pronouns</label>
                            <InputText type="text" @bind-Value="Model.Pronouns" class="mt-2 input-field h-11 w-full" placeholder="Pronouns"/>
                        </div>

                        <div class="col-start-1 col-end-2 lg:col-end-3">
                            <label class="font-semibold">About me</label>
                            <InputTextArea type="text" @bind-Value="Model.Bio" class="mt-2 input-field h-44 w-full py-1 resize-none"/>
                        </div>
                    </EditForm>
                </div>
            </TabContent>
        </Contents>
    </TabContainer>
</div>

<SectionContent SectionName="OutsideContainer">
    <UnsavedChangesPopup @ref="_unsavedPopup" OnCancelRequest="CancelEdit" OnSaveRequest="SaveProfile"/>
</SectionContent>

<SectionContent SectionName="javascript">
    @if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
        <script type="module" src="scripts/pages/settings/profile.ts"></script>
    } else {
        if (ViteManifest["scripts/pages/settings/profile.ts"] is { } chunk) {
            <script type="module" src="@chunk.File"></script>

            if (chunk.Imports != null) {
                foreach (string import in chunk.Imports) {
                    if (!ViteManifest.ContainsKey(import)) continue;

                    <script type="module" src="@ViteManifest[import]!.File"></script>
                }
            }
        }
    }
</SectionContent>

@code {
    private ApplicationUser? _user;

    [SupplyParameterFromForm(FormName = "Profile")]
    private InputModel Model { get; set; } = new() {
        DisplayName = string.Empty
    };

    private EditContext _editContext;

    private MarkupString _markupBio;
    
    // pain
    private string _activeTabId = "preview";

    private UnsavedChangesPopup _unsavedPopup = null!;

    private bool _showProfilePictureModal, _renderProfilePictureModal = false;

    private InputFile _profileImageInputFile;
    private ElementReference _profileImagePreviewElement;

    private IJSObjectReference _module;

    private IBrowserFile? _profilePictureFile;
    private string? _profilePicturePreviewUrl;

    protected override async Task OnInitializedAsync() {
        if (Environment.IsDevelopment()) {
            await Task.Delay(1500);
        }

        if (await AccountService.GetCurrentUserAsync() is not { } user) {
            // How did we get here? Pretty sure [Authorize] at _Imports.razor should redirect to login if there is no
            // current user.
            RedirectManager.To("/auth/login").Execute();
            return;
        }

        _user = user;
        Model.DisplayName = _user.DisplayName;
        Model.Pronouns = _user.Pronouns;
        Model.Bio = _user.Bio;
        ParseMarkdownBio(Model.Bio ?? string.Empty);

        _editContext = new(Model);
        _editContext.OnFieldChanged += (sender, args) => {
            _unsavedPopup.ShowPopup();

            if (args.FieldIdentifier.FieldName == nameof(Model.Bio)) {
                ParseMarkdownBio(Model.Bio ?? string.Empty);
            }
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./scripts/pages/settings/profile.ts");
        }
    }

    private void HandleActiveTabChanged(string tabId) {
        _activeTabId = tabId;
    }

    private async Task SaveProfile() {
        if (Environment.IsDevelopment()) {
            await Task.Delay(1500);
        }

        if (await AccountService.GetCurrentUserAsync() is not { } user) {
            // Whoop, session expiration, never seen you before.

            RedirectManager.To("/").Execute();
            return;
        }

        _user = user;

        _user!.DisplayName = Model.DisplayName;
        _user.Pronouns = Model.Pronouns;
        _user.Bio = Model.Bio;

        await UserManager.UpdateAsync(_user);
    }

    private void CancelEdit() {
        Model.DisplayName = _user!.DisplayName;
        Model.Pronouns = _user.Pronouns;
        Model.Bio = _user.Bio;
    }

    private void ParseMarkdownBio(string bio) {
        if (string.IsNullOrWhiteSpace(bio)) {
            _markupBio = new(string.Empty);
            return;
        }
        
        var document = Markdown.Parse(bio, MarkdownPipeline);
        _markupBio = (MarkupString)SanitizingService.Sanitize(document.ToHtml(MarkdownPipeline));
    }

    private async Task OpenProfilePictureModal() {
        _showProfilePictureModal = true;

        await Task.Delay(500);
        
        _renderProfilePictureModal = true;
        StateHasChanged();
    }

    private void CloseProfilePictureModal() {
        _showProfilePictureModal = false;
        _renderProfilePictureModal = false;
    }

    private async Task HandleProfilePictureChange(InputFileChangeEventArgs args) {
        if (_profileImageInputFile.Element is not { } inputFileElement) {
            return;
        }
        
        string url = await _module.InvokeAsync<string>("previewImage", inputFileElement, _profileImagePreviewElement);
        _profilePictureFile = args.File;
        _profilePicturePreviewUrl = url;
    }
    
    public async ValueTask DisposeAsync() {
        if (_module != null!) {
            try {
                await _module.DisposeAsync();
            } catch (JSDisconnectedException) {
            }
        }
    }

    private sealed class InputModel {
        [StringLength(64), Required] public required string DisplayName { get; set; }
        [StringLength(maximumLength: 32)] public string? Pronouns { get; set; }
        [StringLength(255)] public string? Bio { get; set; }

        public ProfilePictureAdjustmentModel ProfilePictureAdjustment { get; set; } = new();
    }
    
    public sealed class ProfilePictureAdjustmentModel : INotifyPropertyChanged {
        private double zoomX = 1.0;
        private double zoomY = 1.0;

        [Range(0.25, 5)]
        public double ZoomX {
            get => Math.Round(zoomX, 2);
            set {
                if (Math.Abs(value - zoomX) > 0.01) {
                    zoomX = Math.Clamp(value, 0.25, 5);
                    OnPropertyChanged();
                }
            }
        }

        [Range(0.25, 5)]
        public double ZoomY {
            get => Math.Round(zoomY, 2);
            set {
                if (Math.Abs(value - zoomY) > 0.01) {
                    zoomY = Math.Clamp(value, 0.25, 5);
                    OnPropertyChanged();
                }
            }
        }
        
        public event PropertyChangedEventHandler? PropertyChanged;

        private void OnPropertyChanged([CallerMemberName] string? propertyName = null) {
            PropertyChanged?.Invoke(this, new(propertyName));
        }
    }
}