@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Infrastructure.Data
@using Conflux.Services.Abstracts
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inherits LayoutComponentBase

@layout SidebarLobbyLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService

<SectionContent SectionName="lobby-sidebar">
    <div class="flex flex-col gap-2 p-2">
        <NavLink href="/lobby/activity" class="@("flex flex-row justify-start items-center px-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer bg-transparent hover:bg-white/15 active:bg-black/15")" ActiveClass="bg-white/20" Match="NavLinkMatch.Prefix">
            <Airplane class="size-6 flex-none fill-white"/>

            <p class="block">Activity</p>
        </NavLink>

        <NavLink href="/lobby/social" class="@("flex flex-row justify-start items-center px-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer bg-transparent hover:bg-white/15 active:bg-black/15")" ActiveClass="bg-white/20" Match="NavLinkMatch.Prefix">
            <People class="size-6 flex-none fill-white"/>

            <p class="block">Social</p>
        </NavLink>
    </div>

    <hr class="border-t border-t-gray-600 mx-2"/>

    <div class="bg-transparent pt-2 px-2 pb-1">
        <Virtualize ItemsProvider="ConversationsLoadProvider" OverscanCount="8">
            <ItemContent Context="item">
                <div class="py-0.5">
                    <NavLink href="@($"/lobby/messages/{item.ConversationId}")" class="@("flex-none px-2 py-1.5 flex flex-row justify-start items-center bg-transparent hover:bg-white/15 active:bg-black/15 rounded-lg cursor-pointer")" ActiveClass="bg-white/5!" Match="NavLinkMatch.Prefix">
                        <Avatar class="h-10 flex-none" ImageSrc="@(string.IsNullOrEmpty(item.FriendAvatarSrc) ? null : ContentService.GetAssetPath(item.FriendAvatarSrc))" ImageAlt="User Avatar"/>

                        <div class="@("ml-2 flex flex-col justify-center")">
                            <p>@item.FriendDisplayName</p>
                        </div>
                    </NavLink>
                </div>
            </ItemContent>
        </Virtualize>
    </div>
</SectionContent>

<section class="col-span-10 bg-gray-700 h-full overflow-hidden flex-1 text-white">
    @Body
</section>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private string _userId = null!;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationState;
        _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
    }

    private async ValueTask<ItemsProviderResult<ConversationElement>> ConversationsLoadProvider(ItemsProviderRequest request) {
        await using (var dbContext = await DbContextFactory.CreateDbContextAsync()) {
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

            var query = dbContext.Conversations
                .Where(x => x.Type == ConversationType.DirectMessage && (x.FriendRequest!.SenderId == _userId || x.FriendRequest.ReceiverId == _userId));

            int totalCount = await query.CountAsync();

            if (totalCount == 0) {
                return new([], 0);
            }

            List<ConversationElement> elements = await query
                .OrderBy(x => x.CreatedAt)
                .Skip(request.StartIndex)
                .Take(request.Count)
                .Join(
                    dbContext.Users, 
                    conversation => conversation.FriendRequest!.SenderId == _userId ? conversation.FriendRequest.ReceiverId : conversation.FriendRequest.SenderId, user => user.Id, (conversation, user) => new ConversationElement {
                        ConversationId = conversation.Id,
                        FriendDisplayName = user.DisplayName,
                        FriendAvatarSrc = user.AvatarProfilePath,
                    }
                )
                .ToListAsync();

            return new(elements, totalCount);
        }
    }

    private sealed class ConversationElement {
        public Guid ConversationId { get; init; }
        public string FriendDisplayName { get; init; } = null!;
        public string? FriendAvatarSrc { get; init; }
    }
}