@using Conflux.Application.Dto
@using Conflux.Domain.Enums
@using Conflux.Web.Components.Pages.Community.Modals
@using Conflux.Web.Helpers
@using Humanizer

@inherits BaseModal

@inject IModerationService ModerationService
@inject IConversationService ConversationService
@inject ICommunityService CommunityService
@inject IContentService ContentService
@inject IUserService UserService

@{
    Guid selectedReportId = _selectedReport?.Id ?? Guid.Empty;
}

<div class="flex flex-row justify-center items-center size-full text-white">
    <Card class="absolute inset-0 rounded-none! lg:inset-6 lg:rounded-xl!">
        <CardHeader Title="Report Management" OnCloseRequested="EventUtils.AsNonRenderingEventHandler(CloseModal)" class="border-b border-b-gray-600" />
    
        <CardContent class="p-0">
            <div class="flex flex-col lg:flex-row gap-2 lg:h-full">
                <div class="flex flex-col gap-2 h-128 lg:h-full lg:flex-1">
                    <section class="flex-1 flex flex-col overflow-y-hidden">
                        <header class="flex-none">Messages</header>
                        
                        <section class="flex-1 border border-gray-600 rounded-md mt-1 p-1 overflow-y-auto scrollbar-hide h-full flex flex-col">
                            @{ Guid selectedMessageId = _selectedMessageId ?? Guid.Empty; }
                            
                            <Virtualize ItemsProvider="ReportedMessageIdsProvider">
                                <ItemContent Context="messageId">
                                    <button class="p-2 button-nav-menu @(messageId == selectedMessageId ? "bg-white/8" : string.Empty)" @onclick="() => SelectMessage(messageId)">
                                        <p class="text-center w-full text-sm">@messageId</p>
                                    </button>
                                </ItemContent>
                            </Virtualize>
                        </section>
                    </section>

                    <section class="flex-1 flex flex-col overflow-y-hidden">
                        <header class="flex-none">Reports</header>
                        
                        <section class="flex-1 border border-gray-600 rounded-md mt-1 p-1 overflow-y-auto scrollbar-hide h-full flex flex-col gap-1">
                            @if (_messageReports == null) {
                                <div class="size-full flex flex-row justify-center items-center">
                                    <p class="text-sm text-gray-400">Select a message to see reports.</p>
                                </div>
                            } else {
                                @foreach (var report in _messageReports) {
                                    <button class="p-2 button-nav-menu @(report.Id == selectedReportId ? "bg-white/8" : string.Empty)" @onclick="() => SelectReport(report.Id)">
                                        <span class="text-center w-full text-sm">@report.Id</span>
                                    </button>
                                }
                            }
                        </section>
                    </section>
                </div>
                
                <section class="h-128 lg:h-full lg:flex-3 flex flex-col overflow-y-hidden">
                    <header class="flex-none">Details</header>
                    
                    <section class="flex-1 border border-gray-600 rounded-md mt-1 p-2 overflow-y-auto scrollbar-hide">
                        @if (_selectedMessageId != null || selectedReportId != Guid.Empty) {
                            if (_selectedMessageId != null) {
                                <p class="text-xl">Message state currently</p>
                                
                                @if (_selectedMessage is { } selectedMessageDisplay) {
                                    <MessageDisplay Display="selectedMessageDisplay" class="mt-1 p-2 border border-gray-600 rounded-md max-h-32 overflow-y-auto"/>
                                    
                                    <p class="mt-1">Statistic:</p>
                                    
                                    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-2 gap-2">
                                        <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                            <p class="flex-1">Report Count</p>
                                            <p class="flex-none">@_messageStatistics.ReportCount</p>
                                        </div>
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.Spam, out var reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Spam</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.Harassment, out reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Harassment</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.Misinformation, out reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Misinformation</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.Violence, out reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Violence</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.ExposingInformation, out reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Exposing Private Information</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                        
                                        @if (_messageStatistics.ReasonCounts.TryGetValue(ReportReason.Other, out reasonCount)) {
                                            <div class="flex flex-row justify-between items-center p-2 rounded-md border border-gray-600">
                                                <p class="flex-1">Others</p>
                                                <p class="flex-none">@reasonCount (@(((float)reasonCount / _messageStatistics.ReportCount).ToString("P2")))</p>
                                            </div>
                                        }
                                    </section>
                                } else {
                                    <div class="h-32 flex flex-row justify-center items-center">
                                        <Spinner class="size-8 fill-white"/>
                                    </div>
                                }
                            }

                            if (selectedReportId != Guid.Empty) {
                                <p class="mt-2 text-xl">Message state when report</p>
                                
                                @if (_selectedReport is { } reportDisplay) {
                                    <MessageDisplay Display="@(new MessageDisplayDTO(reportDisplay.SenderDisplayName, reportDisplay.SenderAvatar, reportDisplay.OriginalBody, reportDisplay.OriginalAttachments))"
                                                    class="mt-1 p-2 border border-gray-600 rounded-md max-h-32 overflow-y-auto"/>
                                    
                                    <div class="flex flex-col gap-1 mt-2">
                                        <div class="flex-none flex flex-row items-center">
                                            <p class="flex-1">Report at:</p>
                                            
                                            <p class="flex-2">@reportDisplay.CreatedAt.ToString("yyyy/MM/dd HH:mm:ss")</p>
                                        </div>
                                        
                                        <div class="flex-none flex flex-row items-center">
                                            <p class="flex-1">Reporter:</p>

                                            <UserCard UserId="_reporterUserDisplay.UserId"
                                                      MemberId="_reporterMemberId"
                                                      AvatarSrc="@(_reporterUserDisplay.AvatarPath)"
                                                      DisplayName="@_reporterUserDisplay.DisplayName"
                                                      UserName="@_reporterUserDisplay.UserName"
                                                      class="h-10 flex-2"
                                                      OnClick="EventUtils.AsNonRenderingEventHandler<UserCard>(OpenMemberProfileModal)"/>
                                        </div>
                                        
                                        <div class="flex-none flex flex-row items-center">
                                            <p class="flex-1">Reasons:</p>
                                            
                                            <p class="flex-2">@string.Join(", ", reportDisplay.Reasons)</p>
                                        </div>
                                        
                                        @if (!string.IsNullOrEmpty(reportDisplay.ExtraMessage)) {
                                            <div class="flex-none flex flex-row items-center">
                                                <p class="flex-1">Extra Message:</p>

                                                <p class="flex-2 border border-gray-600 p-2 wrap-break-word rounded-md">@reportDisplay.ExtraMessage</p>
                                            </div>
                                        }
                                        
                                        <div class="flex-none flex flex-row items-center">
                                            <p class="flex-1">Status:</p>

                                            <div class="flex-2">
                                                @switch (_moderationRecordForSelectedReport?.Action) {
                                                    case null:
                                                        <p class="animate-pulse inline-block">In Progress</p>
                                                        <Spinner class="size-5 fill-white ml-2 inline-block"/>
                                                        break;

                                                    case ModerationAction.Ban:
                                                        <p class="text-red-500 inline-block">Banned</p>
                                                        break;

                                                    case ModerationAction.Dismiss:
                                                        <p class="inline-block">Dismissed</p>
                                                        break;

                                                    case ModerationAction.Warn:
                                                        <p class="text-yellow-300 inline-block">Warned</p>
                                                        break;
                                                }
                                            </div>
                                        </div>

                                        @if (_moderationRecordForSelectedReport is { } moderationRecord) {
                                            @if (moderationRecord.Action == ModerationAction.Ban && moderationRecord.BanDuration is { } banDuration) {
                                                <div class="flex-none flex flex-row items-center">
                                                    <p class="flex-1">Ban Duration:</p>

                                                    <div class="flex-2">
                                                        <p class="inline-block">@banDuration.Humanize(precision: 5)</p>
                                                    </div>
                                                </div>
                                            }

                                            <div class="flex-none flex flex-row items-center">
                                                <p class="flex-1">Resolved By:</p>

                                                <UserCard UserId="@moderationRecord.ResolverUser.UserId"
                                                          MemberId="@_reportResolverMemberId"
                                                          AvatarSrc="@(string.IsNullOrEmpty(moderationRecord.ResolverUser.AvatarPath) ? null : ContentService.GetAssetPath(moderationRecord.ResolverUser.AvatarPath))"
                                                          DisplayName="@moderationRecord.ResolverUser.DisplayName"
                                                          class="h-10 flex-2"
                                                          OnClick="EventUtils.AsNonRenderingEventHandler<UserCard>(OpenMemberProfileModal)"/>
                                            </div>

                                            <div class="flex-none flex flex-row items-center">
                                                <p class="flex-1">Resolved At:</p>

                                                <p class="flex-2">@moderationRecord.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                            </div>
                                        }
                                    </div>
                                    
                                    @if (_moderationRecordForSelectedReport == null) {
                                        <p class="mt-2 text-xl">Actions:</p>

                                        <div class="grid grid-cols-2 gap-2 mt-2">
                                            <button class="button-primary" @onclick="EventUtils.AsNonRenderingEventHandler(HandleResolveReportByDismiss)">
                                                Dismiss Report
                                            </button>
                                            
                                            <button class="button-warning" @onclick="EventUtils.AsNonRenderingEventHandler(HandleResolveReportByWarning)">
                                                Warn User
                                            </button>
                                            
                                            <button class="button-danger col-span-2" @onclick="EventUtils.AsNonRenderingEventHandler(HandleResolveReportByBanning)">
                                                Ban User
                                            </button>
                                        </div>
                                    }
                                } else {
                                <div class="h-32 flex flex-row justify-center items-center">
                                        <Spinner class="size-8 fill-white"/>
                                    </div>
                                }
                            }
                        } else {
                            <div class="size-full flex flex-row justify-center items-center">
                                <p class="text-sm text-gray-400">Select something to see details.</p>
                            </div>
                        }
                    </section>
                </section>
            </div>
        </CardContent>
    </Card>
</div>

@code {
    [Parameter, EditorRequired] public required Guid? CommunityId { get; set; }
    [Parameter, EditorRequired] public required ItemsProviderDelegate<Guid> ReportedMessageIdsProvider { get; set; }
    [Parameter, EditorRequired] public required Guid? ResolverUserId { get; set; }
    
    private List<MessageReport>? _messageReports;

    private Guid? _selectedMessageId;

    private MessageDisplayDTO? _selectedMessage;
    private ReportDisplayDTO? _selectedReport;
    private ModerationRecordDisplayDTO? _moderationRecordForSelectedReport;
    private MessageReportStatistics _messageStatistics;

    private UserDisplayDTO _reporterUserDisplay;
    private Guid? _reporterMemberId;

    private UserDisplayDTO? _reportResolverUserDisplay;
    private Guid? _reportResolverMemberId;
    
    private async Task SelectMessage(Guid messageId) {
        _selectedMessageId = messageId;
        _selectedReport = null;

        _messageReports = await ModerationService.GetMessageReportsAsync(messageId);
        _selectedMessage = (await ConversationService.GetMessageDisplayAsync(messageId))!.Value;
        _messageStatistics = (await ModerationService.GetMessageReportReasonCounts(messageId))!.Value;
    }

    private async Task SelectReport(Guid reportId) {
        if (_selectedMessageId == null) {
            return;
        }
        
        var reportDisplay = (await ModerationService.GetReportDisplayAsync(reportId))!.Value;
        
        _selectedReport = reportDisplay;
        if (reportDisplay.ModerationRecordId is { } moderationRecordId) {
            _moderationRecordForSelectedReport = await ModerationService.GetModerationRecordDisplayAsync(moderationRecordId);
        }

        if (CommunityId is { } communityId) {
            (_reporterMemberId!, _reporterUserDisplay) = (await CommunityService.GetMemberDisplayAsync(communityId, reportDisplay.ReporterUserId))!.Value;
            (_reportResolverMemberId!, _reportResolverUserDisplay!) = _moderationRecordForSelectedReport is { } moderationRecord ? (await CommunityService.GetMemberDisplayAsync(communityId, moderationRecord.ResolverUser.UserId))!.Value : default;
        } else {
            _reporterUserDisplay = (await UserService.GetUserDisplayAsync(reportDisplay.ReporterUserId))!.Value;
            _reportResolverUserDisplay = _moderationRecordForSelectedReport is { } moderationRecord ? (await UserService.GetUserDisplayAsync(moderationRecord.ResolverUser.UserId))!.Value : null;
        }
        
        _reporterUserDisplay.AvatarPath = string.IsNullOrEmpty(_reporterUserDisplay.AvatarPath) ? null : ContentService.GetAssetPath(_reporterUserDisplay.AvatarPath);
    }

    private void HandleResolveReportByDismiss() {
        if (_selectedReport?.Id is not { } reportId) {
            return;
        }
    
        ModalService.Open<DismissConfirmationModal>(parameters: new Dictionary<string, object?> {
            [nameof(DismissConfirmationModal.OnConfirm)] = EventCallback.Factory.Create<string>(this, OnConfirm),
        });
        return;
    
        async Task OnConfirm(string reason) {
            if (ResolverUserId is not { } resolverUserId) {
                return;
            }
            
            await ModerationService.ResolveReportByDismissAsync(reportId, resolverUserId, reason);
            var reportDisplay = (await ModerationService.GetReportDisplayAsync(reportId))!.Value;
    
            _selectedReport = reportDisplay;
            if (reportDisplay.ModerationRecordId is { } moderationRecordId) {
                _moderationRecordForSelectedReport = await ModerationService.GetModerationRecordDisplayAsync(moderationRecordId);
            }

            if (CommunityId is { } communityId) {
                (_reportResolverMemberId!, _reportResolverUserDisplay!) = _moderationRecordForSelectedReport is { } moderationRecord ? (await CommunityService.GetMemberDisplayAsync(communityId, moderationRecord.ResolverUser.UserId))!.Value : default;
            } else {
                _reportResolverUserDisplay = _moderationRecordForSelectedReport is { } moderationRecord ? (await UserService.GetUserDisplayAsync(moderationRecord.ResolverUser.UserId))!.Value : null;
            }
        }
    }
    
    private void HandleResolveReportByWarning() {
        if (_selectedReport?.Id is not { } reportId) {
            return;
        }
    
        ModalService.Open<WarnConfirmationModal>(parameters: new Dictionary<string, object?> {
            [nameof(WarnConfirmationModal.OnConfirm)] = EventCallback.Factory.Create<string>(this, OnConfirm),
        });
        return;
    
        async Task OnConfirm(string reason) {
            if (ResolverUserId is not { } resolverUserId) {
                return;
            }
            
            await ModerationService.ResolveReportByWarningAsync(reportId, resolverUserId, reason);
            var reportDisplay = (await ModerationService.GetReportDisplayAsync(reportId))!.Value;
    
            _selectedReport = reportDisplay;
            if (reportDisplay.ModerationRecordId is { } moderationRecordId) {
                _moderationRecordForSelectedReport = await ModerationService.GetModerationRecordDisplayAsync(moderationRecordId);
            }
            
            if (CommunityId is { } communityId) {
                (_reportResolverMemberId!, _reportResolverUserDisplay!) = _moderationRecordForSelectedReport is { } moderationRecord ? (await CommunityService.GetMemberDisplayAsync(communityId, moderationRecord.ResolverUser.UserId))!.Value : default;
            } else {
                _reportResolverUserDisplay = _moderationRecordForSelectedReport is { } moderationRecord ? (await UserService.GetUserDisplayAsync(moderationRecord.ResolverUser.UserId))!.Value : null;
            }
        }
    }
    
    private void HandleResolveReportByBanning() {
        if (_selectedReport?.Id is not { } reportId) {
            return;
        }
    
        ModalService.Open<BanConfirmationModal>(parameters: new Dictionary<string, object?> {
            [nameof(BanConfirmationModal.OnConfirm)] = EventCallback.Factory.Create<BanConfirmationModal.BanInformation>(this, OnConfirm),
        });
    
        return;
    
        async Task OnConfirm(BanConfirmationModal.BanInformation info) {
            if (ResolverUserId is not { } resolverUserId) {
                return;
            }
            
            await ModerationService.ResolveReportByBanningAsync(reportId, resolverUserId, info.Duration, info.Reason);
            var reportDisplay = (await ModerationService.GetReportDisplayAsync(reportId))!.Value;
    
            _selectedReport = reportDisplay;
            if (reportDisplay.ModerationRecordId is { } moderationRecordId) {
                _moderationRecordForSelectedReport = await ModerationService.GetModerationRecordDisplayAsync(moderationRecordId);
            }
            
            if (CommunityId is { } communityId) {
                (_reportResolverMemberId!, _reportResolverUserDisplay!) = _moderationRecordForSelectedReport is { } moderationRecord ? (await CommunityService.GetMemberDisplayAsync(communityId, moderationRecord.ResolverUser.UserId))!.Value : default;
            } else {
                _reportResolverUserDisplay = _moderationRecordForSelectedReport is { } moderationRecord ? (await UserService.GetUserDisplayAsync(moderationRecord.ResolverUser.UserId))!.Value : null;
            }
        }
    }

    private void OpenMemberProfileModal(UserCard userCard) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = userCard.UserId,
            [nameof(UserProfileModal.InspectingMemberId)] = userCard.MemberId,
        });
    }
}