@using Conflux.Application.Dto
@using Conflux.Web.Helpers
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService
@inject ModalService ModalService
@inject IStatisticsService StatisticsService
@inject IReportService ReportService

<CardContent class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-2 flex-1 overflow-y-auto md:overflow-hidden">
    <section class="h-64 md:h-full md:row-span-2 flex flex-col gap-1">
        <header class="text-xl font-semibold flex-none">Engagement</header>
        
        <div class="flex-1 overflow-y-auto scrollbar-hide border border-gray-600 rounded-lg bg-gray-725 shadow-md p-2">
            <TabContainer @bind-ActiveId:get="_engagementActiveTabId" @bind-ActiveId:set="@(value => SetEngagementActiveTabId(value!))" class="flex-1 flex flex-col text-white size-full" ButtonContainerCssClass="flex-none border-b border-b-gray-600 pb-2 flex flex-row justify-around gap-1" ContentContainerCssClass="min-h-0 flex-1 mt-2 overflow-y-auto scrollbar-hide">
                <Buttons>
                    <TabButton TabId="Friends" class="flex-1 x-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">Friends</TabButton>
                    <TabButton TabId="Communities" class="flex-1 px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">Communities</TabButton>
                </Buttons>

                <Contents>
                    <TabContent TabId="Friends" RenderStrategy="RenderStrategy.Conditional" class="size-full overflow-y-auto scrollbar-hide">
                        <Virtualize ItemsProvider="EngagedFriendProvider">
                            <ItemContent Context="item">
                                <UserCard DisplayName="@item.DisplayName"
                                          UserName="@item.UserName"
                                          UserId="@item.UserId"
                                          AvatarSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))"
                                          class="h-10"
                                          OnClick="EventUtils.AsNonRenderingEventHandler<UserCard>(OpenMemberProfileModal)"/>
                            </ItemContent>

                            <EmptyContent>
                                <div class="size-full flex justify-center items-center">
                                    <p class="text-gray-400 text-sm">No friend :(</p>
                                </div>
                            </EmptyContent>
                        </Virtualize>
                    </TabContent>

                    <TabContent TabId="Communities" RenderStrategy="RenderStrategy.Conditional" class="size-full">
                        <Virtualize ItemsProvider="EngagedCommunityProvider">
                            <ItemContent Context="item">
                                <CommunityCard Name="@item.Name"
                                               CommunityId="@item.CommunityId"
                                               AvatarSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))"
                                               class="h-10"/>
                            </ItemContent>

                            <EmptyContent>
                                <div class="size-full flex justify-center items-center">
                                    <p class="text-gray-400 text-sm">No friend :(</p>
                                </div>
                            </EmptyContent>
                        </Virtualize>
                    </TabContent>
                </Contents>
            </TabContainer>
        </div>
    </section>
                            
    <section class="h-64 md:h-full md:row-span-1 flex flex-col gap-1">
        <header class="text-xl font-semibold flex-none">Extra Information</header>
        
        <div class="flex-1 overflow-y-auto scrollbar-hide border border-gray-600 rounded-lg bg-gray-725 shadow-md p-2">
            <table class="w-full table-fixed border-collapse">
                <thead>
                <tr>
                    <th class="w-1/3">Name</th>
                    <th class="w-2/3">Value</th>
                </tr>
                </thead>
                
                <tbody class="text-sm">
                <tr>
                    <td class="text-left">User ID</td>
                    <td class="text-right">@InspectingUserId</td>
                </tr>
                
                @if (InspectingMemberId != null) {
                    <tr>
                        <td class="text-left">Member ID</td>
                        <td class="text-right">@InspectingMemberId</td>
                    </tr>
                }
                
                <tr>
                    <td class="text-left">Warn Count</td>
                    <td class="text-right">@_userExtraInfo.WarnCount</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="h-64 md:h-full md:row-span-1 flex flex-col gap-1">
        <header class="text-xl font-semibold flex-none">Actions</header>
        
        <div class="flex-1 overflow-y-auto scrollbar-hide border border-gray-600 rounded-lg bg-gray-725 shadow-md p-2">
            <button class="button-warning" @onclick="HandleWarnUser">Warn User</button>
            <button class="mt-2 button-danger" @onclick="HandleBanUser">Ban User</button>
        </div>
    </section>
</CardContent>

@code {
    [Parameter, EditorRequired] public required Guid InspectingUserId { get; set; }
    [Parameter] public Guid? InspectingMemberId { get; set; }
    
    private string _engagementActiveTabId = "Friends";
    private UserExtraInformation _userExtraInfo;

    private void SetEngagementActiveTabId(string value) {
        _engagementActiveTabId = value;
    }

    private async ValueTask<ItemsProviderResult<UserDisplayDTO>> EngagedFriendProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

        _userExtraInfo = new((await StatisticsService.GetUserReportStatistics(InspectingUserId))!.Value.WarnCount);

        var query = dbContext.FriendRequests
            .Where(r => r.Status == FriendRequestStatus.Accepted && (r.SenderUserId == InspectingUserId || r.ReceiverUserId == InspectingUserId));
        
        var totalCount = await query.CountAsync();

        if (totalCount == 0) {
            return new([], 0);
        }

        var page = await query
            .Join(
                dbContext.Users,
                r => r.SenderUserId == InspectingUserId ? r.ReceiverUserId : r.SenderUserId,
                user => user.Id,
                (r, user) => user
            )
            .OrderBy(u => u.DisplayName)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(u => new UserDisplayDTO(u.Id, u.DisplayName, u.UserName, u.AvatarProfilePath))
            .ToListAsync();

        return new(page, totalCount);
    }
    
    private async ValueTask<ItemsProviderResult<CommunityDisplayDTO>> EngagedCommunityProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

        var query = dbContext.CommunityMembers
            .Where(r => r.UserId == InspectingUserId);
        
        var totalCount = await query.CountAsync();

        if (totalCount == 0) {
            return new([], 0);
        }

        var page = await query
            .OrderBy(m => m.CreatedAt)
            .Include(m => m.Community)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(m => m.Community)
            .Select(m => new CommunityDisplayDTO(m.Id, m.Name, m.AvatarPath))
            .ToListAsync();

        return new(page, totalCount);
    }
    
    private void OpenMemberProfileModal(UserCard userCard) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = userCard.UserId,
            [nameof(UserProfileModal.InspectingMemberId)] = userCard.MemberId,
        });
    }

    private static readonly RenderFragment _warnConfirmBody =
        @<p>Are you sure you want to warn this user?</p>;

    private void HandleWarnUser() {
        ModalService.Open<OperationConfirmModal>(parameters: new Dictionary<string, object?> {
            [nameof(OperationConfirmModal.Title)] = "Warn User",
            [nameof(OperationConfirmModal.Body)] = _warnConfirmBody,
            [nameof(OperationConfirmModal.OnConfirm)] = EventCallback.Factory.Create(this, OnConfirm),
        });
        return;

        async Task OnConfirm() {
        }
    }

    private void HandleBanUser() {
        
    }

    private readonly record struct CommunityDisplayDTO(Guid CommunityId, string Name, string? AvatarPath);

    private readonly record struct UserExtraInformation(int WarnCount);

}