@using Conflux.Application.Dto
@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Components.Shared.Modals
@using Conflux.Domain.Events
@using Conflux.Services
@using Conflux.Services.Abstracts
@using Microsoft.EntityFrameworkCore

@implements IDisposable

@inject ModalService ModalService
@inject ICommunityService CommunityService
@inject ICommunityEventDispatcher CommunityEventDispatcher
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject IAuthorizationService AuthorizationService

@switch (_state) {
    case State.Loading:
        <div class="size-full flex flex-row justify-center items-center">
            <Spinner class="size-8 fill-white"/>
        </div>
        break;

    case State.InvalidCommunity:
        <div class="size-full flex flex-row justify-center items-center">
            <p class="text-sm text-gray-400">Something went wrong...</p>
        </div>
        break;

    case State.Success:
        <section>
            <div class="w-full h-32 bg-black relative">
                <button @ref="_optionButton" class="absolute top-0 right-0 p-1.5 bg-transparent hover:bg-white/15 rounded-full" @onclick="@(() => _showExpandableMenu = true)">
                    <Gear class="size-5 fill-white"/>
                </button>
        
                <Popover TargetReference="_optionButton" @bind-IsShowing="_showExpandableMenu" Placement="left" Offset="4" CloseWhenClickOutside="true">
                    <div class="bg-gray-600 p-1 text-white text-sm rounded-lg shadow-md flex flex-col gap-1 z-50" tabindex="-1">
                        <AuthorizeView Policy="CreateCommunityChannelCategory" Resource="UserPermissions?.Permissions">
                            <Authorized>
                                <button class="p-1.5 bg-transparent hover:bg-white/10 active:bg-black/8 cursor-pointer rounded-md text-left" @onclick="HandleDisplayCommunityExpandableMenu">Create channel category</button>
                            </Authorized>
                        </AuthorizeView>
                        
                        <AuthorizeView Policy="AccessCommunityControlPanel" Resource="UserPermissions?.Permissions">
                            <Authorized>
                                <button class="p-1.5 bg-transparent hover:bg-white/10 active:bg-black/8 cursor-pointer rounded-md text-left" @onclick="OpenControlPanelModal">Open Control Panel</button>
                            </Authorized>
                        </AuthorizeView>
        
                        <button class="p-1.5 bg-transparent hover:bg-white/10 active:bg-black/8 cursor-pointer rounded-md text-left" @onclick="OpenInvitationUrlModal">Get invitation URL</button>
                    </div>
                </Popover>
            </div>
        
            <p class="text-center">
                Welcome to<br/>
                <span class="font-bold text-lg">@_community!.Name</span>
            </p>
        </section>
        
        <hr class="border-t border-t-gray-600 px-2 mt-2"/>
        
        <section class="px-2 mt-2">
            <h1 class="text-sm font-bold text-gray-400 mt-2 mb-2">System</h1>
        
            <div class="flex flex-col gap-1">
                <NavLink class="flex flex-row items-center p-1.5 rounded-md hover:bg-white/15 active:bg-black/8" ActiveClass="bg-white/8!" href="@($"/community/{CommunityId}")" Match="NavLinkMatch.All">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-2 fill-none stroke-white size-6 stroke-1 flex-none">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002"/>
                    </svg>
        
                    <span class="flex-none">Welcome</span>
                </NavLink>
        
                <NavLink class="flex flex-row items-center p-1.5 rounded-md hover:bg-white/15 active:bg-black/8" ActiveClass="bg-white/8!" href="@($"/community/{CommunityId}/rules")" Match="NavLinkMatch.All">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-2 fill-none stroke-white size-6 stroke-1 flex-none">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002"/>
                    </svg>
        
                    <span class="flex-none">Rules</span>
                </NavLink>
        
                <NavLink class="flex flex-row items-center p-1.5 rounded-md hover:bg-white/15 active:bg-black/8" ActiveClass="bg-white/8!" href="@($"/community/{CommunityId}/events")" Match="NavLinkMatch.All">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-2 fill-none stroke-white size-6 stroke-1 flex-none">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002"/>
                    </svg>
        
                    <span class="flex-none">Events</span>
                </NavLink>
            </div>
        </section>
        
        @foreach (var channelCategory in _community.ChannelCategories ?? []) {
            <section class="px-2 mt-2 min-w-0 group border-t border-t-gray-600">
                <h1 class="text-sm font-bold text-gray-400 mt-2 mb-2 overflow-hidden break-all whitespace-normal flex flex-row items-start">
                    <span class="flex-1 mr-1">@channelCategory.Name</span>
        
                    <AuthorizeView Policy="CreateCommunityChannel" Resource="UserPermissions?.Permissions">
                        <Authorized>
                            <span class="flex-none">
                                <Tooltip TargetCssClass="inline-block" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="right" Offset="8">
                                    <TargetContent>
                                        <button class="bg-transparent cursor-pointer" @onclick="() => OpenCreateChannelModal(channelCategory.Id)">
                                            <Plus Large="true" class="size-4 fill-white"/>
                                        </button>
                                    </TargetContent>

                                    <TooltipContent>
                                        Create a channel
                                    </TooltipContent>
                                </Tooltip>
                            </span>
                        </Authorized>
                    </AuthorizeView>
                </h1>
        
                <div class="flex flex-col gap-1">
                    @foreach (var channel in channelCategory.Channels ?? []) {
                        <NavLink class="flex flex-row items-center p-1.5 rounded-md hover:bg-white/15 active:bg-black/8" ActiveClass="bg-white/8!" href="@($"/community/{CommunityId}/{channel.Id}")" Match="NavLinkMatch.All">
                            @switch (channel.Type) {
                                case CommunityChannelType.Text:
                                    <SpeechBubble ArrowDirection="ChatArrowDirection.Left" Content="ChatContent.Text" class="mr-2 size-6 fill-white"/>
                                    break;
        
                                case CommunityChannelType.Audio:
                                    <Volume Variation="VolumeVariations.Up" class="mr-2 size-6 fill-white"/>
                                    break;
                            }
        
                            <span class="flex-none">@channel.Name</span>
                        </NavLink>
                    }
                </div>
            </section>
        }
        
        <AuthorizeView Policy="CreateCommunityChannelCategory" Resource="UserPermissions?.Permissions">
            <Authorized Context="_">
                @if (_isCreatingChannelCategory) {
                    <section class="px-2 mt-2">
                        <input type="text" maxlength="32" class="w-full h-10 input-field" autofocus @onkeydown="HandleCreatingChannelCategoryKeyDown" @onblur="HandleCreatingChannelCategoryBlur" @onchange="HandleCreatingChannelCategoryChange">
                    </section>
                }
            </Authorized>
        </AuthorizeView>
        break;
}

@code {
    [Parameter] public Guid CommunityId { get; set; }
    private Guid _previousCommunityId;

    private State _state;

    private ElementReference _optionButton;

    private bool _showExpandableMenu, _isCreatingChannelCategory;

    private Community? _community;
    private string? _invitationUrl;

    [CascadingParameter] private MemberRolePermissions? UserPermissions { get; set; }
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override void OnParametersSet() {
        if (_previousCommunityId != CommunityId) {
            _state = State.Loading;
            _community = null!;
            _invitationUrl = null!;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            CommunityEventDispatcher.OnChannelCategoryCreated += OnChannelCategoryCreated;
            CommunityEventDispatcher.OnChannelCreated += OnChannelCreated;
        }
        
        if (_state == State.Loading) {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

            var community = await dbContext.Communities
                .Where(x => x.Id == CommunityId)
                .Include(x => x.ChannelCategories)
                .ThenInclude(x => x.Channels)
                .FirstOrDefaultAsync();

            if (community == null) {
                _state = State.InvalidCommunity;
            } else {
                _invitationUrl = NavigationManager.ToAbsoluteUri($"/invite/{community.InvitationId.ToString()}").GetLeftPart(UriPartial.Path);
                _state = State.Success;
                _community = community;
            }

            StateHasChanged();
            _previousCommunityId = CommunityId;
        }
    }

    private void HandleDisplayCommunityExpandableMenu() {
        _showExpandableMenu = false;
        _isCreatingChannelCategory = true;
    }

    private void HandleCreatingChannelCategoryKeyDown(KeyboardEventArgs args) {
        if (args.Key == "Escape") {
            _isCreatingChannelCategory = false;
        }
    }

    private void HandleCreatingChannelCategoryBlur() {
        _showExpandableMenu = false;
        _isCreatingChannelCategory = false;
    }

    private async Task HandleCreatingChannelCategoryChange(ChangeEventArgs args) {
        string value = Convert.ToString(args.Value) ?? string.Empty;

        if (!string.IsNullOrEmpty(value)) {
            await CommunityService.CreateChannelCategoryAsync(value, CommunityId);
        }

        _isCreatingChannelCategory = false;
    }

    private async Task OpenCreateChannelModal(Guid categoryId) {
        var authState = await AuthenticationState;
        
        if ((await AuthorizationService.AuthorizeAsync(authState.User, UserPermissions?.Permissions, "CreateCommunityChannel")).Succeeded) {
            ModalService.Open<CreateCommunityChannelModal>(parameters: new Dictionary<string, object?> {
                [nameof(CreateCommunityChannelModal.ReceiverChannelCategoryId)] = categoryId,
            });
        }
    }

    private void OpenInvitationUrlModal() {
        ModalService.Open<CommunityInvitationUrlModal>(parameters: new Dictionary<string, object?> {
            [nameof(CommunityInvitationUrlModal.InvitationUrl)] = _invitationUrl!,
        });
    }
    
    private async Task OpenControlPanelModal() {
        var authState = await AuthenticationState;
        
        if ((await AuthorizationService.AuthorizeAsync(authState.User, UserPermissions?.Permissions, "AccessCommunityControlPanel")).Succeeded) {
            ModalService.Open<CommunityControlPanelModal>(parameters: new Dictionary<string, object?> {
                [nameof(CommunityControlPanelModal.CommunityId)] = CommunityId,
                [nameof(CommunityControlPanelModal.MemberRolePermissions)] = UserPermissions!,
            });
        }
    }

    private void OnChannelCategoryCreated(ChannelCategoryCreatedEventArgs args) {
        _community!.ChannelCategories.Add(new() {
            CommunityId = args.CommunityId,
            Id = args.CategoryId,
            Name = args.CategoryName,
        });
        
        InvokeAsync(StateHasChanged);
    }
    
    private void OnChannelCreated(ChannelCreatedEventArgs args) {
        int index = -1;

        for (int i = 0; i < _community!.ChannelCategories.Count; i++) {
            if (_community.ChannelCategories[i].Id == args.CategoryId) {
                index = i;
                break;
            }
        }

        if (index == -1) {
            return;
        }
        
        _community.ChannelCategories[index].Channels.Add(new() {
            Id = args.ChannelId,
            ChannelCategoryId = args.CategoryId,
            Name = args.ChannelName,
            Type = args.ChannelType,
        });

        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        CommunityEventDispatcher.OnChannelCategoryCreated -= OnChannelCategoryCreated;
        CommunityEventDispatcher.OnChannelCreated -= OnChannelCreated;
    }

    private enum State {
        Loading,
        InvalidCommunity,
        Success,
    }
}