@using Conflux.Application.Dto
@using Conflux.Web.Components.Pages.Community.Modals
@using Conflux.Web.Components.Pages.Settings
@using Conflux.Domain.Enums
@using Conflux.Domain.Events
@using Conflux.Domain.Extensions
@using Conflux.Web.Authorization
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations

@implements IDisposable

@inject ICommunityService CommunityService
@inject ICommunityRoleService CommunityRoleService
@inject ICommunityEventDispatcher CommunityEventDispatcher
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IJSRuntime JavascriptRuntime
@inject IContentService ContentService
@inject IAuthorizationService AuthorizationService
@inject ModalService ModalService
@inject ILogger<CommunityRolesTabContent> Logger

@if (_state == State.Initializing) {
    <div class="size-full flex justify-center items-center">
        <Spinner class="size-12 fill-white"/>
    </div>

    return;
}

@{
    var rolePermissions = MemberInformation?.Role.Permissions ?? RolePermissions.Default;
}

<div class="flex flex-col h-full gap-1 overflow-y-auto">
    <header class="flex-none ml-2">
        <h1 class="text-xl font-bold">Community Roles</h1>
        <p class="text-sm text-gray-400">See and change moderation permissions</p>
    </header>
    
    <section class="flex-1 h-full min-h-0 px-2" @ref="_unsavedChangesShakeTarget">
        <div class="flex flex-col md:flex-row gap-1 md:items-center">
            <label class="flex-none input-label md:flex-1">Role</label>
            
            <SelectionDropdown @bind-Value:get="_selectedRole" @bind-Value:set="SetSelectedRole" ContainerCssClass="md:flex-3" ButtonCssClass="h-10 w-full" PopoverCssClass="z-10 w-full lg:w-lg p-1">
                <div class="flex flex-col gap-1 max-h-62 overflow-y-auto">
                    @if (_roles == null) {
                        <div class="flex justify-center">
                            <Spinner class="size-6 fill-white"/>
                        </div>
                    } else {
                        foreach (var role in _roles) {
                            <SelectionOption class="select-none p-1.5 text-left bg-transparent hover:bg-white/15 active:bg-black/25 cursor-pointer rounded-md" Value="@role">@role.Name</SelectionOption>
                        }
                    }
                </div>
                
                <AuthorizeView Policy="CreateCommunityRole" Resource="rolePermissions">
                    <Authorized>
                        <li class="flex flex-row items-center mt-1">
                            <input @ref="_roleNameInputElement" type="text" @bind="_creatingRoleName" class="flex-1 input-field h-10 mr-1">

                            @if (_roleNameInputElement.HasValue) {
                                <Popover TargetReference="_roleNameInputElement.Value" IsShowing="@(!string.IsNullOrEmpty(_roleNameErrorMessage))" ArrowCssClass="bg-[#ff4b6a]" Placement="bottom" Offset="4">
                                    <p class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md">@_roleNameErrorMessage</p>
                                </Popover>
                            }

                            <ProcessingStateButton @bind-IsProcessing="_isCreatingRole" class="button-primary w-20 px-2" ProcessingCssClass="flex flex-row justify-center" @onclick="HandleCreateRole">
                                <ChildContent>
                                    Create
                                </ChildContent>

                                <ProcessingContent>
                                    <Spinner class="size-6 fill-white"/>
                                </ProcessingContent>
                            </ProcessingStateButton>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </SelectionDropdown>
        </div>
        
        <EditForm EditContext="_editContext" Context="_" FormName="MainForm">
            <DataAnnotationsValidator/>
            
            <Collapsible class="w-full mt-2 border-b border-b-gray-600 pb-1.5" @bind-IsExpanded="_expandPermissionCollapsible">
                <HeaderContent>
                    <span class="font-semibold">Permissions</span>
                </HeaderContent>

                <ChildContent>
                    @{ bool shouldDisabled = !_allowsUpdateRolePermissions; }

                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-2">
                        <section>
                            <header class="border-b border-b-gray-600 pb-1">Access</header>

                            <div class="mt-1.5 flex flex-col gap-1.5">
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Access Control Panel</label>

                                    <PermissionToggle @bind-Value="Model!.AccessControlPanel" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                                
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Access Reports</label>

                                    <PermissionToggle @bind-Value="Model.AccessReports" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                            </div>
                        </section>

                        <section>
                            <header class="border-b border-b-gray-600 pb-1">Roles</header>

                            <div class="mt-1.5 flex flex-col gap-1.5">
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Create Role</label>

                                    <PermissionToggle @bind-Value="Model.CreateRole" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Delete Role</label>

                                    <PermissionToggle @bind-Value="Model.DeleteRole" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                                
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Rename Role</label>

                                    <PermissionToggle @bind-Value="Model.RenameRole" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Modify Role Permission</label>

                                    <PermissionToggle @bind-Value="Model.ModifyRolePermissions" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Modify Member Role</label>

                                    <PermissionToggle @bind-Value="Model.ModifyMemberRole" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                            </div>
                        </section>

                        <section>
                            <header class="border-b border-b-gray-600 pb-1">Channels</header>

                            <div class="mt-1.5 flex flex-col gap-1.5">
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Create Channel Category</label>

                                    <PermissionToggle @bind-Value="Model.CreateChannelCategory" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Delete Channel Category</label>

                                    <PermissionToggle @bind-Value="Model.DeleteChannelCategory" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Create Channel</label>

                                    <PermissionToggle @bind-Value="Model.CreateChannel" class="flex-none" disabled="@shouldDisabled"/>
                                </div>

                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Delete Channel</label>

                                    <PermissionToggle @bind-Value="Model.DeleteChannel" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                            </div>
                        </section>
                        
                        <section>
                            <header class="border-b border-b-gray-600 pb-1">Management</header>

                            <div class="mt-1.5 flex flex-col gap-1.5">
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Manage Reports</label>

                                    <PermissionToggle @bind-Value="Model.ManageReports" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                                
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Delete Member Message</label>

                                    <PermissionToggle @bind-Value="Model.DeleteMemberMessage" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                                
                                <div class="flex flex-row items-center">
                                    <label class="flex-1">Ban Member</label>

                                    <PermissionToggle @bind-Value="Model.BanMember" class="flex-none" disabled="@shouldDisabled"/>
                                </div>
                            </div>
                        </section>
                    </div>
                </ChildContent>
            </Collapsible>

            <Collapsible class="w-full mt-2 border-b border-b-gray-600 pb-1.5" @bind-IsExpanded="_expandPeopleCollapsible">
                <HeaderContent>
                    <span class="font-semibold">People</span>
                </HeaderContent>

                <ChildContent>
                    <div class="mt-2 flex flex-col md:flex-row gap-2">
                        <section class="flex-1">
                            <p>Members with Role:</p>

                            <div class="mt-1 border border-gray-600 bg-gray-725 shadow-md rounded-lg h-128 p-1 overflow-y-auto scrollbar-hide flex flex-col">
                                <Virtualize ItemsProvider="RoleMembersProvider" @ref="_roleMembersVirtualizeReference">
                                    <ItemContent Context="item">
                                        @{
                                            bool isBeingRemoved = Model!.RemoveRoles.Contains(item.MemberId);
                                            string backgroundCssClass = isBeingRemoved ? "bg-red-500/45 hover:bg-[#BA4659]" : "bg-transparent hover:bg-white/8";

                                        }

                                        <div class="p-1 flex flex-row items-center rounded-md @backgroundCssClass">
                                            <Avatar ImageSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))" ImageAlt="@($"Avatar of {item.DisplayName}")" class="size-9 mr-1"/>

                                            <p class="flex-1">@item.DisplayName</p>

                                            <AuthorizeView Policy="UpdateCommunityMemberRole" Resource="rolePermissions">
                                                <Authorized>
                                                    @if (isBeingRemoved) {
                                                        <button type="button" class="p-1.5 bg-transparent hover:bg-white/15 rounded-full cursor-pointer" @onclick="@(_ => UndoMemberRoleRemove(item.MemberId))">
                                                            <Cross class="size-4 fill-white" Size="CrossSize.Large"/>
                                                        </button>
                                                    } else {
                                                        <button type="button" class="p-1.5 bg-transparent hover:bg-white/15 rounded-full cursor-pointer" @onclick="@(_ => ApplyMemberRoleRemove(item.MemberId))">
                                                            <Cross class="size-4 fill-white" Size="CrossSize.Large"/>
                                                        </button>
                                                    }
                                                </Authorized>
                                            </AuthorizeView>
                                        </div>
                                    </ItemContent>

                                    <EmptyContent>
                                        <div class="flex flex-row justify-center items-center h-full">
                                            <p class="text-gray-400 text-sm">No one is worthy enough...</p>
                                        </div>
                                    </EmptyContent>
                                </Virtualize>
                            </div>
                        </section>

                        <AuthorizeView Policy="UpdateCommunityMemberRole" Resource="rolePermissions">
                            <Authorized>
                                <section class="flex-1">
                                    <p>Appending members:</p>

                                    <div class="mt-1 border border-gray-600 bg-gray-725 shadow-md rounded-lg h-128 p-1 pt-0 flex flex-col">
                                        <header class="flex-none flex flex-row items-center mt-1">
                                            <SearchField @bind-Value="_roleMembersSearchString" class="mr-1"/>

                                            <button type="button" class="button-primary flex-none" @onclick="HandleOpenAddMemberDialog">
                                                Add Member
                                            </button>
                                        </header>

                                        <div class="mt-1 overflow-y-auto scrollbar-hide">
                                            <Virtualize ItemsProvider="AddingMembersItemProvider" @ref="_addingMembersVirtualizeReference">
                                                <ItemContent Context="item">
                                                    <div class="p-1 flex flex-row items-center rounded-md">
                                                        <Avatar ImageSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))" ImageAlt="@($"Avatar of {item.DisplayName}")" class="size-9 mr-1"/>

                                                        <p class="flex-1">@item.DisplayName</p>

                                                        <button type="button" class="p-1.5 bg-transparent hover:bg-white/15 rounded-full cursor-pointer" @onclick="@(_ => RemoveFromAppendingCollection(item.MemberId))">
                                                            <Cross class="flex-none size-4 fill-white" Size="CrossSize.Large"/>
                                                        </button>
                                                    </div>
                                                </ItemContent>
                                            </Virtualize>
                                        </div>
                                    </div>
                                </section>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </ChildContent>
            </Collapsible>

            <Collapsible class="w-full mt-2 border-b border-b-gray-600 pb-1.5" @bind-IsExpanded="_expandActionCollapsible">
                <HeaderContent>
                    <span class="font-semibold">Actions</span>
                </HeaderContent>

                <ChildContent>
                    <div class="mt-2 flex flex-col md:flex-row gap-1 md:items-center">
                        <label class="flex-none input-label md:flex-1">Role Name</label>

                        <AuthorizeView Policy="RenameCommunityRole" Resource="rolePermissions">
                            <Authorized>
                                @if (_selectedRole.Name == "Owners") {
                                    <input type="text" class="h-10 md:flex-3 input-field" readonly disabled value="Owners"/>
                                } else {
                                    <InputText @ref="_roleRenameInputElement" @bind-Value="Model!.RoleName" class="h-10 md:flex-3 input-field"/>

                                    @if (_roleRenameInputElement is { Element: not null }) {
                                        <Popover TargetReference="_roleRenameInputElement.Element.Value" IsShowing="!_editContext.IsValid(_roleNameField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8">
                                            <ValidationMessage For="() => Model.RoleName" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                                        </Popover>
                                    }
                                }
                            </Authorized>
                        
                            <NotAuthorized>
                                <input type="text" class="h-10 md:flex-3 input-field" readonly disabled value="@Model!.RoleName"/>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>

                    @if (_selectedRole.Name != "Owners") {
                        <AuthorizeView Policy="DeleteCommunityRole" Resource="rolePermissions">
                            <Authorized>
                                <section class="mt-1 border border-red-500 p-2 rounded-lg">
                                    <div class="flex flex-col md:flex-row items-center">
                                        <div class="flex-4 mr-1">
                                            <p>Delete Role</p>
                                            <p class="text-sm text-gray-400">It will be gone forever, and ever...</p>
                                        </div>

                                        <button type="button" class="button-danger flex-1" @onclick="OpenDeleteRoleDialog">
                                            Delete
                                        </button>
                                    </div>
                                </section>
                            </Authorized>
                        </AuthorizeView>
                    }
                </ChildContent>
            </Collapsible>
        </EditForm>
    </section>
</div>

<UnsavedChangesPopup IsShowing="_editContext.IsModified()" OnCancelRequest="HandleCancelEdit" OnSaveRequest="HandleSaveEdit"/>

@code {
    [Parameter] public Guid CommunityId { get; set; }
    
    [CascadingParameter] private MemberInformationDTO? MemberInformation { get; set; }
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    // Role Selection Dropdown.
    private List<RoleDTO>? _roles;
    private bool _isCreatingRole;
    private RoleDTO _selectedRole;

    // Forms
    [SupplyParameterFromForm(Name = "MainForm")] private InputModel? Model { get; set; }
    private EditContext _editContext = null!;
    private RolePermissions _originalPermissions = null!;
    private FieldIdentifier _removeRolesField, _addRolesField, _roleNameField;

    private InputText? _roleRenameInputElement;
    
    private string _roleMembersSearchString = string.Empty;
    private string _creatingRoleName = string.Empty;
    
    private Virtualize<MemberDisplayDTO>? _addingMembersVirtualizeReference;
    
    private ElementReference? _roleNameInputElement, _unsavedChangesShakeTarget;
    private Virtualize<MemberDisplayDTO>? _roleMembersVirtualizeReference;
    private string? _roleNameErrorMessage;

    // Collapsible
    private bool _expandPermissionCollapsible, _expandPeopleCollapsible, _expandActionCollapsible;
    
    // Authorization properties
    private bool _allowsUpdateRolePermissions;

    private State _state;

    protected override void OnInitialized() {
        Model ??= new();
    }

    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;
        _allowsUpdateRolePermissions = (await AuthorizationService.AuthorizeAsync(authState.User, MemberInformation?.Role.Permissions, new UpdateCommunityRolePermissionsRequirement())).Succeeded;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();

            _roles = await dbContext.CommunityRoles
                .Where(x => x.CommunityId == CommunityId)
                .OrderBy(x => x.CreatedAt)
                .Select(x => new RoleDTO(x.Id, x.Name))
                .ToListAsync();

            _selectedRole = _roles.First(x => x.Name == "Owners");
            
            _originalPermissions = (await CommunityRoleService.GetPermissionsAsync(_selectedRole.Id))!;

            Model ??= new();
            
            Model.ChannelPermissions = _originalPermissions.Channel;
            Model.RolePermissions = _originalPermissions.Role;
            Model.AccessPermissions = _originalPermissions.Access;
            Model.ManagementPermissions = _originalPermissions.Management;
            Model.RoleName = _selectedRole.Name;
            
            _editContext = new(Model);

            _removeRolesField = FieldIdentifier.Create(() => Model.RemoveRoles);
            _addRolesField = FieldIdentifier.Create(() => Model.AddRoles);
            _roleNameField = FieldIdentifier.Create(() => Model.RoleName);
            
            CommunityEventDispatcher.OnRoleCreated += OnRoleCreated;
            CommunityEventDispatcher.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityEventDispatcher.OnRoleRenamed += OnRoleRenamed;
            CommunityEventDispatcher.OnRoleDeleted += OnRoleDeleted;

            ModalService.OnModalChanged += OnAddMemberPanelClosed;

            _state = State.Success;
            StateHasChanged();
        }
    }

    private async Task SetSelectedRole(RoleDTO role) {
        if (_editContext.IsModified()) {
            await JavascriptRuntime.InvokeVoidAsync("window.animateShake", _unsavedChangesShakeTarget, 250, 2, 2);
        } else {
            _selectedRole = role;

            var permissions = await CommunityRoleService.GetPermissionsAsync(_selectedRole.Id);

            if (permissions != null) {
                Model!.ChannelPermissions = permissions.Channel;
                Model.RolePermissions = permissions.Role;
                Model.AccessPermissions = permissions.Access;

                _originalPermissions = permissions;
            }

            Model!.RoleName = _selectedRole.Name;

            if (_roleMembersVirtualizeReference != null) {
                await _roleMembersVirtualizeReference.RefreshDataAsync();
            }
        }
    }

    private async Task HandleCancelEdit() {
        Model!.ChannelPermissions = _originalPermissions.Channel;
        Model.RolePermissions = _originalPermissions.Role;
        Model.AccessPermissions = _originalPermissions.Access;
        Model.RemoveRoles.Clear();
        Model.AddRoles.Clear();
        Model.RoleName = _selectedRole.Name;

        if (_roleMembersVirtualizeReference != null) {
            await _roleMembersVirtualizeReference.RefreshDataAsync();
        }
        
        if (_addingMembersVirtualizeReference != null) {
            await _addingMembersVirtualizeReference.RefreshDataAsync();
        }
        
        _editContext.MarkAsUnmodified();
    }

    private async Task HandleSaveEdit() {
        if (!_editContext.Validate()) {
            return;
        }
        
        await CommunityRoleService.UpdatePermissionsAsync(_selectedRole.Id, new(Model!.ChannelPermissions, Model.RolePermissions, Model.AccessPermissions, Model.ManagementPermissions));

        if (_editContext.IsModified(_removeRolesField)) {
            await CommunityService.SetMembersRoleAsync(CommunityId, Model.RemoveRoles, null);
            Model.RemoveRoles.Clear();

            if (_roleMembersVirtualizeReference != null) {
                await _roleMembersVirtualizeReference.RefreshDataAsync();
            }
        }

        if (_editContext.IsModified(_addRolesField)) {
            await CommunityService.SetMembersRoleAsync(CommunityId, Model.AddRoles, _selectedRole.Id);
            Model.AddRoles.Clear();
        
            if (_addingMembersVirtualizeReference != null) {
                await _addingMembersVirtualizeReference.RefreshDataAsync();
            }
        }

        if (_editContext.IsModified(_roleNameField)) {
            await CommunityRoleService.RenameRoleAsync(CommunityId, _selectedRole.Id, Model.RoleName);
        }
        
        _editContext.MarkAsUnmodified();
    }

    private async Task HandleCreateRole() {
        _isCreatingRole = true;

        try {
            _creatingRoleName = _creatingRoleName.Trim();

            if (string.IsNullOrEmpty(_creatingRoleName)) {
                _roleNameErrorMessage = "Enter Role Name";
                return;
            }

            if (_creatingRoleName.Length > 32) {
                _roleNameErrorMessage = "Role name cannot exceed 32 characters.";
                return;
            }

            var status = await CommunityRoleService.CreateRoleAsync(CommunityId, _creatingRoleName);

            switch (status) {
                case ICommunityRoleService.CreateRoleStatus.Failure:
                    _roleNameErrorMessage = "Failed to create Role.";
                    break;
                    
                case ICommunityRoleService.CreateRoleStatus.NameExists:
                    _roleNameErrorMessage = "This role name already exists.";
                    break;
                    
                case ICommunityRoleService.CreateRoleStatus.ReservedName:
                    _roleNameErrorMessage = "This role name is reserved.";
                    break;
                    
                case ICommunityRoleService.CreateRoleStatus.Success:
                    _creatingRoleName = string.Empty;
                    break;
            }
        } finally {
            _isCreatingRole = false;
        }
    }

    private void OnRoleCreated(CommunityRoleCreatedEventArgs args) {
        _roles?.Add(new(args.RoleId, args.RoleName));
        InvokeAsync(StateHasChanged);
    }

    private async ValueTask<ItemsProviderResult<MemberDisplayDTO>> RoleMembersProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();

        var query = dbContext.CommunityMembers
            .IncludeBanned()
            .Where(x => x.CommunityId == CommunityId && x.RoleId == _selectedRole.Id);

        int count = await query.CountAsync();

        if (count == 0) {
            return new([], 0);
        }

        var members = await query
            .Include(m => m.User)
            .OrderBy(x => x.User.DisplayName)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(m => new MemberDisplayDTO(m.Id, m.UserId, m.User.DisplayName, m.User.AvatarProfilePath))
            .ToListAsync();

        return new(members, count);
    }

    private async ValueTask<ItemsProviderResult<MemberDisplayDTO>> AddingMembersItemProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        
        var query = dbContext.CommunityMembers
            .IncludeBanned()
            .Where(x => Model!.AddRoles.Contains(x.Id) && x.CommunityId == CommunityId);

        int count = await query.CountAsync();

        if (count == 0) {
            return new([], 0);
        }

        var members = await query
            .Include(m => m.User)
            .OrderBy(x => x.User.DisplayName)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(m => new MemberDisplayDTO(m.Id, m.UserId, m.User.DisplayName, m.User.AvatarProfilePath))
            .ToListAsync();

        return new(members, count);
    }

    private void HandleOpenAddMemberDialog() {
        ModalService.Open<RoleAddMemberPanel>(name: "Community.ControlPanel.Roles.AddMember", parameters: new Dictionary<string, object?> {
            [nameof(RoleAddMemberPanel.CommunityId)] = CommunityId,
            [nameof(RoleAddMemberPanel.AddedMembers)] = Model!.AddRoles,
        });
    }

    private static readonly RenderFragment _roleDeleteBodyFragment =
        @<p>
            Are you sure you want to delete this role?<br/>
            This action cannot be undone!
        </p>;

    private void OpenDeleteRoleDialog() {
        ModalService.Open<OperationConfirmModal>(parameters: new Dictionary<string, object?> {
            [nameof(OperationConfirmModal.Title)] = "Delete Role",
            [nameof(OperationConfirmModal.Subtitle)] = "Committing massive job loss...",
            [nameof(OperationConfirmModal.Body)] = _roleDeleteBodyFragment,
            [nameof(OperationConfirmModal.OnConfirm)] = EventCallback.Factory.Create(this, async () => {
                await CommunityRoleService.DeleteRoleAsync(CommunityId, _selectedRole.Id);
            }),
        });
    }

    private void OnAddMemberPanelClosed(ModalChangedEventArgs args) {
        if (args is { Type: ModalChangedEventType.Closed, Instance.Name: "Community.ControlPanel.Roles.AddMember", ReturnValue: HashSet<Guid> { Count: > 0 } members }) {
            Model!.AddRoles = members;
            _editContext.NotifyFieldChanged(_addRolesField);
            
            InvokeAsync(async () => {
                if (_addingMembersVirtualizeReference != null) {
                    await _addingMembersVirtualizeReference.RefreshDataAsync();
                }
            });
        }
    }

    private void ApplyMemberRoleRemove(Guid memberId) {
        Model!.RemoveRoles.Add(memberId);
        _editContext.NotifyFieldChanged(_removeRolesField);
    }

    private void UndoMemberRoleRemove(Guid memberId) {
        Model!.RemoveRoles.Remove(memberId);

        if (Model.RemoveRoles.Count == 0) {
            _editContext.MarkAsUnmodified(_removeRolesField);
        }
    }

    private async Task RemoveFromAppendingCollection(Guid memberId) {
        if (Model!.AddRoles.Remove(memberId)) {
            if (_addingMembersVirtualizeReference != null) {
                await _addingMembersVirtualizeReference.RefreshDataAsync();
            }
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        InvokeAsync(async () => {
            var authState = await AuthenticationState;
            _allowsUpdateRolePermissions = (await AuthorizationService.AuthorizeAsync(authState.User, MemberInformation?.Role.Permissions ?? RolePermissions.Default, new UpdateCommunityRolePermissionsRequirement())).Succeeded;

            if (args.RoleId == _selectedRole.Id && _roleMembersVirtualizeReference != null) {
                await _roleMembersVirtualizeReference.RefreshDataAsync();
                StateHasChanged();
            }
        });
    }

    private void OnRoleRenamed(CommunityRoleRenamedEventArgs args) {
        if (_roles == null) return;
        
        InvokeAsync(() => {
            for (int i = 0; i < _roles.Count; i++) {
                if (_roles[i].Id == args.RoleId) {
                    _roles[i] = _roles[i] with {
                        Name = args.NewName,
                    };
                }
            }
            
            StateHasChanged();
        });
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (_roles == null) return;
        
        for (int i = 0; i < _roles.Count; i++) {
            if (_roles[i].Id == args.RoleId) {
                _roles.RemoveAt(i);

                InvokeAsync(async () => {
                    await SetSelectedRole(_roles[int.Clamp(i, 0, _roles.Count - 1)]);
                    StateHasChanged();
                });
                break;
            }
        }
    }

    public void Dispose() {
        ModalService.OnModalChanged -= OnAddMemberPanelClosed;
        
        CommunityEventDispatcher.OnRoleCreated -= OnRoleCreated;
        CommunityEventDispatcher.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityEventDispatcher.OnRoleRenamed -= OnRoleRenamed;
        CommunityEventDispatcher.OnRoleDeleted -= OnRoleDeleted;
    }

    private readonly record struct RoleDTO(Guid Id, string Name) {
        public override string ToString() => Name;
    }

    private enum State {
        Initializing,
        Success,
    }

    private sealed class InputModel {
        public RolePermissionFlags RolePermissions { get; set; }
        public ChannelPermissionFlags ChannelPermissions { get; set; }
        public AccessPermissionFlags AccessPermissions { get; set; }
        public ManagementPermissionFlags ManagementPermissions { get; set; }
        
        public bool CreateRole {
            get => RolePermissions.HasFlag(RolePermissionFlags.CreateRole);
            set => RolePermissions = value ? RolePermissions | RolePermissionFlags.CreateRole : RolePermissions & ~RolePermissionFlags.CreateRole;
        }

        public bool DeleteRole {
            get => RolePermissions.HasFlag(RolePermissionFlags.DeleteRole);
            set => RolePermissions = value ? RolePermissions | RolePermissionFlags.DeleteRole : RolePermissions & ~RolePermissionFlags.DeleteRole;
        }
        
        public bool RenameRole {
            get => RolePermissions.HasFlag(RolePermissionFlags.RenameRole);
            set => RolePermissions = value ? RolePermissions | RolePermissionFlags.RenameRole : RolePermissions & ~RolePermissionFlags.RenameRole;
        }

        public bool ModifyRolePermissions {
            get => RolePermissions.HasFlag(RolePermissionFlags.ModifyRolePermissions);
            set => RolePermissions = value ? RolePermissions | RolePermissionFlags.ModifyRolePermissions : RolePermissions & ~RolePermissionFlags.ModifyRolePermissions;
        }

        public bool ModifyMemberRole {
            get => RolePermissions.HasFlag(RolePermissionFlags.ModifyMemberRole);
            set => RolePermissions = value ? RolePermissions | RolePermissionFlags.ModifyMemberRole : RolePermissions & ~RolePermissionFlags.ModifyMemberRole;
        }
        
        public bool CreateChannelCategory {
            get => ChannelPermissions.HasFlag(ChannelPermissionFlags.CreateChannelCategory);
            set => ChannelPermissions = value ? ChannelPermissions | ChannelPermissionFlags.CreateChannelCategory : ChannelPermissions & ~ChannelPermissionFlags.CreateChannelCategory;
        }

        public bool DeleteChannelCategory {
            get => ChannelPermissions.HasFlag(ChannelPermissionFlags.DeleteChannelCategory);
            set => ChannelPermissions = value ? ChannelPermissions | ChannelPermissionFlags.DeleteChannelCategory : ChannelPermissions & ~ChannelPermissionFlags.DeleteChannelCategory;
        }
        
        public bool CreateChannel {
            get => ChannelPermissions.HasFlag(ChannelPermissionFlags.CreateChannel);
            set => ChannelPermissions = value ? ChannelPermissions | ChannelPermissionFlags.CreateChannel : ChannelPermissions & ~ChannelPermissionFlags.CreateChannel;
        }
        
        public bool DeleteChannel {
            get => ChannelPermissions.HasFlag(ChannelPermissionFlags.DeleteChannel);
            set => ChannelPermissions = value ? ChannelPermissions | ChannelPermissionFlags.DeleteChannel : ChannelPermissions & ~ChannelPermissionFlags.DeleteChannel;
        }
        
        public bool AccessControlPanel {
            get => AccessPermissions.HasFlag(AccessPermissionFlags.AccessControlPanel);
            set => AccessPermissions = value ? AccessPermissions | AccessPermissionFlags.AccessControlPanel : AccessPermissions & ~AccessPermissionFlags.AccessControlPanel;
        }
        
        public bool AccessReports {
            get => AccessPermissions.HasFlag(AccessPermissionFlags.AccessReports);
            set => AccessPermissions = value ? AccessPermissions | AccessPermissionFlags.AccessReports : AccessPermissions & ~AccessPermissionFlags.AccessReports;
        }

        public bool ManageReports {
            get => ManagementPermissions.HasFlag(ManagementPermissionFlags.ManageReports);
            set => ManagementPermissions = value ? ManagementPermissions | ManagementPermissionFlags.ManageReports : ManagementPermissions & ~ManagementPermissionFlags.ManageReports;
        }
        
        public bool DeleteMemberMessage {
            get => ManagementPermissions.HasFlag(ManagementPermissionFlags.DeleteMemberMessage);
            set => ManagementPermissions = value ? ManagementPermissions | ManagementPermissionFlags.DeleteMemberMessage : ManagementPermissions & ~ManagementPermissionFlags.DeleteMemberMessage;
        }
        
        public bool BanMember {
            get => ManagementPermissions.HasFlag(ManagementPermissionFlags.BanMember);
            set => ManagementPermissions = value ? ManagementPermissions | ManagementPermissionFlags.BanMember : ManagementPermissions & ~ManagementPermissionFlags.BanMember;
        }

        public HashSet<Guid> RemoveRoles { get; set; } = [];
        public HashSet<Guid> AddRoles { get; set; } = [];

        [StringLength(32, ErrorMessage = "Role Name cannot be longer than 32 characters.")]
        [Required(ErrorMessage = "Role Name is required.")] 
        public string RoleName { get; set; } = string.Empty;
    }
}