@using Conflux.Components.Shared.Icons
@using Conflux.Database
@using Conflux.Services.Abstracts
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@implements IDisposable

@inject ICommunityService CommunityService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService

<section class="z-1000 absolute top-0 inset-x-0 h-16 bg-(--bg-color-1) shadow-lg transition-all duration-500 @(_isDrawerExpanded ? "translate-y-0" : "-translate-y-full")">
    <div class="overflow-x-auto flex flex-row items-center gap-2 h-full p-2">
        <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" TooltipPlacement="bottom" TooltipOffset="8">
            <TargetContent>
                <NavLink class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" ActiveClass="border-2 border-blue-700!" href="/lobby" Match="NavLinkMatch.Prefix">
                    <House class="size-6 fill-white"/>
                </NavLink>
            </TargetContent>
                    
            <TooltipContent>
                <p>My Lobby</p>
            </TooltipContent>
        </Tooltip>
        
        @if (_isLoadingJoinedServers) {
            <Spinner class="fill-white h-full aspect-square"/>
        } else {
            @foreach (var joinedServer in _joinedServers) {
                <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" TooltipPlacement="bottom" TooltipOffset="8">
                    <TargetContent>
                        <NavLink class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" ActiveClass="border-2 border-blue-700!" href="@($"/community/{joinedServer.Id}")" Match="NavLinkMatch.Prefix">
                            <Avatar class="w-full aspect-square" ImageSrc="@(string.IsNullOrEmpty(joinedServer.AvatarPath) ? null : ContentService.GetAssetPath(joinedServer.AvatarPath))" ImageAlt="@($"Avatar of {joinedServer.Name}")"/>
                        </NavLink>
                    </TargetContent>
                    
                    <TooltipContent>
                        <p>@joinedServer.Name</p>
                    </TooltipContent>
                </Tooltip>
            }
            
            <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" TooltipPlacement="bottom" TooltipOffset="8">
                <TargetContent>
                    <button class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" @onclick="() => _isShowingServerCreationCard = true">
                        <Plus class="size-6 fill-white" Large="true"/>
                    </button>
                </TargetContent>
                    
                <TooltipContent>
                    <p>Create a community</p>
                </TooltipContent>
            </Tooltip>
        }
    </div>
</section>

<button class="z-1000 absolute @(_isDrawerExpanded ? "top-16" : "top-0") left-1/2 -translate-x-1/2 rounded-b-lg bg-gray-600 shadow-md px-5 py-0.5 cursor-pointer transition-all duration-500" @onclick="ToggleDrawer">
    @if (_isDrawerExpanded) {
        <Chevron Direction="ChevronDirection.Up" Mode="ChevronMode.Compact" class="animate-bounce size-5 fill-white"/>
    } else {
        <Chevron Direction="ChevronDirection.Down" Mode="ChevronMode.Compact" class="animate-bounce size-5 fill-white"/>
    }
</button>

<Dialog @bind-Open="_isShowingServerCreationCard" OnClickOutside="HandleCancelCreatingServer" class="flex justify-center items-center text-white" ContainerCssClass="flex justify-center items-center">
    @if (_isAskingServerNameAndProfilePicture) {
        <Card class="z-10 overflow-hidden">
            <CardHeader Title="Input Information" Subtext="Give your new home a name, a face and a new life." OnCloseRequested="HandleCancelCreatingServer"/>

            <CardContent class="pb-3">
                <CreateCommunityForm OnRequestCreateServer="HandleCreateServer"/>
            </CardContent>
        </Card>
    } else {
        <Card class="z-10 overflow-hidden">
            <CardHeader Title="Create Your Own Paradise" Subtext="A community will need a place to stay. Make your own paradise and start chatting." OnCloseRequested="HandleCancelCreatingServer"/>

            <CardContent class="pb-3">
                <button class="border border-gray-600 bg-black/5 hover:bg-black/2 active:bg-black/8 w-full p-3 rounded-lg shadow-lg cursor-pointer" @onclick="HandleClickFreshServerCreation">
                    Create a fresh server
                </button>
            </CardContent>
        </Card>
    }
</Dialog>

@code {
    private bool _isDrawerExpanded;
    private bool _isShowingServerCreationCard;
    private bool _isAskingServerNameAndProfilePicture;

    private bool _isLoadingJoinedServers;

    private List<CommunityServerDTO> _joinedServers = [];
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override void OnInitialized() {
        _isLoadingJoinedServers = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            string? userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

            if (string.IsNullOrEmpty(userId)) {
                return;
            }

            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

            _joinedServers = await dbContext.CommunityMembers
                .Where(member => member.UserId == userId)
                .OrderBy(member => member.CreatedAt)
                .Select(member => member.Community)
                .Select(community => new CommunityServerDTO(community.Id, community.Name, community.AvatarPath))
                .ToListAsync();

            _isLoadingJoinedServers = false;
            StateHasChanged();

            CommunityService.OnUserCreatedCommunity += OnUserCreatedCommunity;
        }
    }

    private void ToggleDrawer() {
        _isDrawerExpanded ^= true;
    }

    private void HandleCancelCreatingServer() {
        _isShowingServerCreationCard = false;
        _isAskingServerNameAndProfilePicture = false;
    }

    private void HandleClickFreshServerCreation() {
        _isAskingServerNameAndProfilePicture = true;
    }

    private async Task HandleCreateServer(CreateCommunityForm.InputModel model) {
        var authState = await AuthenticationState;
        string? id = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (string.IsNullOrEmpty(id)) return;

        if (model.Avatar == null) {
            await CommunityService.CreateCommunityAsync(model.Name, null, id);
        } else {
            using var avatarStream = model.Avatar.OpenReadStream(ApplicationConstants.MaxCommunityAvatarSize);

            await CommunityService.CreateCommunityAsync(model.Name, avatarStream, id);
        }
        
        _isShowingServerCreationCard = false;
        _isAskingServerNameAndProfilePicture = false;
    }

    private void OnUserCreatedCommunity(CommunityCreatedEventArgs args) {
        InvokeAsync(async () => {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
            
            _joinedServers.Add(new(args.Community.Id, args.Community.Name, args.Community.AvatarPath));
            StateHasChanged();
        });
    }

    public void Dispose() {
        CommunityService.OnUserCreatedCommunity -= OnUserCreatedCommunity;
    }

    private readonly record struct CommunityServerDTO(Guid Id, string Name, string? AvatarPath);
}