@using Conflux.Components.Shared.Icons
@using Conflux.Database
@using Microsoft.EntityFrameworkCore

@inject IJSRuntime JavascriptRuntime
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ILogger<MessageInputArea> Logger

<footer class="flex flex-row items-end gap-1 @_cssClass" @attributes="AdditionalAttributes">
    <section class="flex-1 flex flex-col min-w-0">
        @if (_replyMessageId != null) {
            <div class="min-w-0 rounded-t-lg py-1 px-2 border-x border-t border-x-gray-600 border-t-gray-600 flex flex-row items-center gap-1 overflow-hidden">
                <p class="flex-1 whitespace-nowrap overflow-hidden text-ellipsis">Replying to @_replyMessageData.AuthorDisplayName: "@_replyMessageData.MessageBody"</p>

                <button class="flex-none p-0.5 bg-transparent hover:bg-white/15 rounded-full" @onclick="HandleCancelReply">
                    <Cross class="size-4 fill-white"></Cross>
                </button>
            </div>
        }
        
        @{ string textAreaCssClass = $"shrink-0 input-field w-full py-2 overflow-x-hidden overflow-y-auto wrap-break-word break-all resize-none scrollbar-hide shadow-lg max-h-96 {(_replyMessageId.HasValue ? "rounded-t-none" : string.Empty)}"; }

        <MessageTextArea @bind-Value="_body" class="@textAreaCssClass" OnEnterSubmit="HandleMessageSubmit"/>
    </section>

    <button class="flex-none rounded-full bg-transparent hover:bg-white/15 active:bg-black/15 p-2 cursor-pointer group disabled:bg-transparent disabled:cursor-default" disabled="@_disabled">
        <Paperclip class="size-6 fill-white group-disabled:fill-gray-400"/>
    </button>

    <button class="flex-none rounded-full bg-transparent hover:bg-white/15 active:bg-black/15 p-2 cursor-pointer group disabled:bg-transparent disabled:cursor-default" disabled="@_disabled">
        <Media Type="MediaType.Gif" class="size-6 fill-none stroke-white group-disabled:stroke-gray-400"/>
    </button>
</footer>

@code {
    [Parameter] public EventCallback<MessageData> OnSubmit { get; set; }
    
    [Parameter] public Guid? ReplyMessageId { get; set; }
    [Parameter] public EventCallback<Guid?> ReplyMessageIdChanged { get; set; }

    private string _body;
    private Guid? _replyMessageId;
    
    private ReplyMessageDTO _replyMessageData;
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private bool _disabled;
    private string? _cssClass;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null) {
            if (AdditionalAttributes.TryGetValue("disabled", out object? obj)) {
                _disabled = Convert.ToBoolean(obj);
            }
            
            if (AdditionalAttributes.TryGetValue("class", out obj)) {
                _cssClass = Convert.ToString(obj);
            }
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "disabled" and not "class").ToDictionary();

        _replyMessageId = ReplyMessageId;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_replyMessageId != null) {
            await using (var dbContext = await DbContextFactory.CreateDbContextAsync()) {
                _replyMessageData = await dbContext.ChatMessages
                    .Where(m => m.Id == _replyMessageId.Value && m.DeletedAt == null)
                    .Select(m => new ReplyMessageDTO {
                        AuthorDisplayName = m.Sender.DisplayName,
                        MessageBody = m.Body,
                    })
                    .FirstOrDefaultAsync();
                
                StateHasChanged();
            }
        } else {
            _replyMessageData = default;
        }
    }

    [JSInvokable]
    public async Task HandleMessageSubmit() {
        _body = _body.Trim();
        
        if (_disabled || string.IsNullOrEmpty(_body)) return;

        if (OnSubmit.HasDelegate) {
            await OnSubmit.InvokeAsync(new(_body, _replyMessageId));
        }
        
        await SetReplyMessageId(null);
        
        await InvokeAsync(StateHasChanged);
    }

    public async Task SetReplyMessageId(Guid? id) {
        _replyMessageId = id;
        await ReplyMessageIdChanged.InvokeAsync(_replyMessageId);
    }

    private async Task HandleCancelReply() {
        _replyMessageData = default;
        await SetReplyMessageId(null);
    }

    private readonly record struct ReplyMessageDTO(string AuthorDisplayName, string MessageBody);

    public readonly record struct MessageData(string Body, Guid? ReplyMessageId);
}