@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Helpers
@using Conflux.Web.Services.Implementations
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@implements IDisposable

@inject ILogger<SearchUserTabContent> Logger
@inject UserManager<ApplicationUser> UserManager
@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IConversationService ConversationService
@inject IFriendshipService FriendshipService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject NavigationManager NavigationManager
@inject ModalService ModalService
@inject IContentService ContentService

<SearchField @bind-Value="_nameSearch" @bind-Value:after="StartSearchDebouncing" class="flex-none h-10"/>

<div class="flex-1 overflow-auto mt-2 border border-gray-600 rounded-lg p-1">
    <Virtualize @ref="_virtualizeContainer" ItemsProvider="LoadProvider">
        <ChildContent Context="item">
            <UserCard @key="item.FriendRequestId"
                      UserId="item.FriendDisplay.UserId"
                      UserName="@item.FriendDisplay.UserName"
                      DisplayName="@item.FriendDisplay.DisplayName"
                      AvatarSrc="@(string.IsNullOrEmpty(item.FriendDisplay.AvatarPath) ? null : ContentService.GetAssetPath(item.FriendDisplay.AvatarPath))"
                      OnClick="card => HandleOnUserCardClick(card)"
                      class="h-12 group">
                <RightContent>
                    <div class="flex-none flex-row gap-4 hidden group-hover:flex mr-3">
                        <button class="group/button cursor-pointer" @onclick="@(() => HandleAccessConversation(item.FriendRequestId))" @onclick:stopPropagation="true">
                            <SpeechBubble ArrowDirection="ChatArrowDirection.Right" Content="ChatContent.Text" class="size-6 fill-gray-300 group-hover/button:fill-white"/>
                        </button>

                        <button class="group/button cursor-pointer" @onclick="@(() => HandleUnfriend(item.FriendRequestId))" @onclick:stopPropagation="true">
                            <Cross Size="CrossSize.Large" class="size-6 fill-red-600 group-hover/button:fill-red-400"/>
                        </button>
                    </div>
                </RightContent>
            </UserCard>
        </ChildContent>
        
        <EmptyContent>
            <div class="flex flex-row justify-center items-center h-full">
                <p class="text-gray-400">Empty...</p>
            </div>
        </EmptyContent>
    </Virtualize>
</div>

@code {
    [CascadingParameter(Name = "SessionUserId")] private Guid UserId { get; set; }
    
    private string _nameSearch = string.Empty;
    private string _normalizedNameSearch = string.Empty;

    private Debouncer _searchDebouncer = null!;

    private Virtualize<FriendDisplayDTO> _virtualizeContainer = null!;
    
    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            _searchDebouncer = new(OnDebounceEnd, TimeSpan.FromMilliseconds(250));

            FriendshipEventDispatcher.OnFriendRequestAccepted += OnFriendAccepted;
            FriendshipEventDispatcher.OnUnfriended += OnUnfriended;
        }
    }

    private async Task StartSearchDebouncing() {
        await _searchDebouncer.Start();
    }

    private async Task OnDebounceEnd(CancellationToken token) {
        _normalizedNameSearch = UserManager.NormalizeName(_nameSearch.Trim());

        await _virtualizeContainer.RefreshDataAsync();
        StateHasChanged();
    }

    private async ValueTask<ItemsProviderResult<FriendDisplayDTO>> LoadProvider(ItemsProviderRequest request) {
        await using (var dbContext = await DbContextFactory.CreateDbContextAsync()) {
            IQueryable<FriendRequest> query = dbContext.FriendRequests
                .Where(r => r.Status == FriendRequestStatus.Accepted && (r.SenderUserId == UserId || r.ReceiverUserId == UserId))
                .Include(r => r.Sender).Include(r => r.Receiver);

            if (!string.IsNullOrEmpty(_normalizedNameSearch)) {
                query = query
                    .Where(r => 
                        r.ReceiverUserId == UserId && r.Sender.UserName!.Contains(_normalizedNameSearch) || EF.Functions.ILike(r.Sender.DisplayName, $"%{_normalizedNameSearch}%") ||
                        r.SenderUserId == UserId && r.Receiver.UserName!.Contains(_normalizedNameSearch) || EF.Functions.ILike(r.Receiver.DisplayName, $"%{_normalizedNameSearch}%")
                    );
            }
            
            int totalCount = await query.CountAsync();

            if (totalCount == 0) {
                return new([], 0);
            }

            var requests = await query
                .OrderByDescending(r => r.CreatedAt)
                .Skip(request.StartIndex)
                .Take(request.Count)
                .Join(
                    dbContext.Users, 
                    r => r.SenderUserId == UserId ? r.ReceiverUserId : r.SenderUserId, 
                    user => user.Id, 
                    (request, user) => new FriendDisplayDTO(request.Id, new(user.Id, user.DisplayName, user.UserName, user.AvatarProfilePath))
                )
                .ToListAsync();
            
            return new(requests, totalCount);
        }
    }

    private async Task HandleAccessConversation(Guid friendRequestId) {
        Conversation? conversation = await ConversationService.GetOrCreateDirectConversationAsync(friendRequestId, UserId);
        
        if (conversation == null!) {
            Logger.LogWarning("Failed to create friend conversation for friend request {id}.", friendRequestId);
            return;
        }

        NavigationManager.NavigateTo($"/lobby/messages/{conversation.Id}");
    }

    private static readonly RenderFragment _unfriendConfirmationBody =
        @<p>Are you sure you want to unfriend?<br/>They would be sad...</p>;

    private void HandleUnfriend(Guid friendRequestId) {
        ModalService.Open<OperationConfirmModal>(parameters: new Dictionary<string, object?> {
            [nameof(OperationConfirmModal.Title)] = "Unfriend Confirmation",
            [nameof(OperationConfirmModal.Body)] = _unfriendConfirmationBody,
            [nameof(OperationConfirmModal.OnConfirm)] = EventCallback.Factory.Create(this, Unfriend),
        });
        return;

        async Task Unfriend() {
            await FriendshipService.UnfriendAsync(friendRequestId);
        }
    }

    private void HandleOnUserCardClick(UserCard card) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = card.UserId,
        });
    }
    
    private void OnFriendAccepted(FriendRequestAcceptedEventArgs args) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }
    
    private void OnUnfriended(UnfriendedEventArgs args) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }

    public void Dispose() {
        _searchDebouncer?.Dispose();
        
        FriendshipEventDispatcher.OnFriendRequestAccepted -= OnFriendAccepted;
        FriendshipEventDispatcher.OnUnfriended -= OnUnfriended;
    }

    private readonly record struct FriendDisplayDTO(Guid FriendRequestId, UserDisplayDTO FriendDisplay);

}