@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Helpers
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore
@using System.Collections.Concurrent

@implements IDisposable

@inject IFriendshipService FriendshipService
@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IContentService ContentService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ModalService ModalService

<SearchField @bind-Value="_nameSearch" @bind-Value:after="StartSearchDebouncing" class="flex-none h-10"/>

<div class="flex-1 overflow-auto mt-2 border border-gray-600 rounded-lg p-1">
    <Virtualize @ref="_virtualizeContainer" ItemsProvider="LoadProvider" OverscanCount="3">
        <ChildContent Context="item">
            <UserCard @key="item.FriendRequestId"
                      UserId="item.SenderDisplay.UserId"
                      UserName="@item.SenderDisplay.UserName"
                      DisplayName="@item.SenderDisplay.DisplayName"
                      AvatarSrc="@(string.IsNullOrEmpty(item.SenderDisplay.AvatarPath) ? null : ContentService.GetAssetPath(item.SenderDisplay.AvatarPath))"
                      OnClick="card => HandleOnUserCardClick(card)"
                      class="h-12 group">
                <RightContent>
                    <div class="flex-none flex-row gap-4 hidden group-hover:flex items-center mr-3" @onclick:stopPropagation="true">
                        @{ FriendRequestProcessingAction action = _processingRequests.GetValueOrDefault(item.FriendRequestId); }
                    
                        <ProcessingStateButton IsProcessing="@(action == FriendRequestProcessingAction.Accepting)" NormalCssClass="@(action == FriendRequestProcessingAction.None ? "group/button cursor-pointer" : string.Empty)" disabled="@(action == FriendRequestProcessingAction.Rejecting)" @onclick="@(() => HandleAcceptFriendRequest(item.FriendRequestId))">
                            <ChildContent>
                                <Check Variation="CheckVariation.Normal2" class="size-6 fill-gray-300 group-hover/button:fill-white group-disabled/button:fill-gray-400"/>
                            </ChildContent>
                    
                            <ProcessingContent>
                                <Spinner class="size-6 fill-white"/>
                            </ProcessingContent>
                        </ProcessingStateButton>
                    
                        <ProcessingStateButton IsProcessing="@(action == FriendRequestProcessingAction.Rejecting)" NormalCssClass="@(action == FriendRequestProcessingAction.None ? "group/button cursor-pointer" : string.Empty)" disabled="@(action == FriendRequestProcessingAction.Accepting)" @onclick="@(() => HandleRejectFriendRequest(item.FriendRequestId))">
                            <ChildContent>
                                <Cross Size="CrossSize.Normal" class="size-6 fill-gray-300 group-hover/button:fill-white group-disabled:fill-gray-400"/>
                            </ChildContent>
                    
                            <ProcessingContent>
                                <Spinner class="size-6 fill-white"/>
                            </ProcessingContent>
                        </ProcessingStateButton>
                    </div>
                </RightContent>
            </UserCard>
        </ChildContent>
        
        <EmptyContent>
            <div class="flex flex-row justify-center items-center h-full">
                <p class="text-gray-400">Social awkward eh?</p>
            </div>
        </EmptyContent>
    </Virtualize>
</div>

@code {
    [CascadingParameter(Name = "SessionUserId")] private Guid UserId { get; set; }

    private string _nameSearch = string.Empty;
    private Debouncer _searchDebouncer = null!;

    private Virtualize<IncomingFriendRequestDTO> _virtualizeContainer = null!;
    
    private readonly ConcurrentDictionary<Guid, FriendRequestProcessingAction> _processingRequests = [];
    
    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            _searchDebouncer = new(OnDebounceEnd, TimeSpan.FromMilliseconds(250));

            FriendshipEventDispatcher.OnFriendRequestReceived += OnFriendRequestReceivedNotification;
            FriendshipEventDispatcher.OnFriendRequestCanceled += OnFriendRequestCanceledNotification;
        }
    }

    private async Task StartSearchDebouncing() {
        await _searchDebouncer.Start();
    }

    private async Task OnDebounceEnd(CancellationToken token) {
        await _virtualizeContainer.RefreshDataAsync();
        StateHasChanged();
    }

    private async ValueTask<ItemsProviderResult<IncomingFriendRequestDTO>> LoadProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
        
        IQueryable<FriendRequest> query = dbContext.FriendRequests
            .Where(x => x.Status == FriendRequestStatus.Pending && x.ReceiverUserId == UserId)
            .Include(r => r.Sender);

        if (!string.IsNullOrEmpty(_nameSearch)) {
            string namePattern = $"%{_nameSearch.Trim()}%";
            
            query = query
                .Where(r => 
                    EF.Functions.ILike(r.Sender.UserName!, namePattern) || EF.Functions.ILike(r.Sender.DisplayName, namePattern)
                );
        }
        
        int totalCount = await query.CountAsync();

        if (totalCount == 0) {
            return new([], 0);
        }

        var requests = await query
            .OrderByDescending(r => r.CreatedAt)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(r => new IncomingFriendRequestDTO(r.Id, new(r.SenderUserId, r.Sender.DisplayName, r.Sender.UserName, r.Sender.AvatarProfilePath)))
            .ToListAsync();
        
        return new(requests, totalCount);
    }

    private async Task HandleRejectFriendRequest(Guid friendRequestId) {
        if (_processingRequests.TryAdd(friendRequestId, FriendRequestProcessingAction.Rejecting)) {
            try {
                await FriendshipService.RejectFriendRequestAsync(friendRequestId);
            } finally {
                _processingRequests.TryRemove(friendRequestId, out _);

                if (_processingRequests.IsEmpty) {
                    await _virtualizeContainer.RefreshDataAsync();
                    StateHasChanged();
                }
            }
        }
    }
    
    private async Task HandleAcceptFriendRequest(Guid friendRequestId) {
        if (_processingRequests.TryAdd(friendRequestId, FriendRequestProcessingAction.Accepting)) {
            try {
                await FriendshipService.AcceptFriendRequestAsync(friendRequestId);
            } finally {
                _processingRequests.TryRemove(friendRequestId, out _);

                if (_processingRequests.IsEmpty) {
                    await _virtualizeContainer.RefreshDataAsync();
                    StateHasChanged();
                }
            }
        }
    }
    
    private void HandleOnUserCardClick(UserCard card) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = card.UserId,
        });
    }
    
    private void OnFriendRequestReceivedNotification(FriendRequestReceivedEventArgs eventArgs) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }

    private void OnFriendRequestCanceledNotification(FriendRequestCanceledEventArgs eventArgs) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }

    public void Dispose() {
        _searchDebouncer?.Dispose();
        FriendshipEventDispatcher.OnFriendRequestReceived -= OnFriendRequestReceivedNotification;
        FriendshipEventDispatcher.OnFriendRequestCanceled -= OnFriendRequestCanceledNotification;
    }

    private enum FriendRequestProcessingAction {
        None,
        Accepting,
        Rejecting,
    }

    private readonly record struct IncomingFriendRequestDTO(Guid FriendRequestId, UserDisplayDTO SenderDisplay);
}