@page "/"

@using Conflux.Components.Shared
@using Microsoft.AspNetCore.Components.Sections
@using System.Diagnostics
@using Conflux.Components.Shared.Icons
@using Conflux.Helpers

@implements IAsyncDisposable

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite
@inject IJSRuntime JSRuntime
@inject ILogger<HomePage> Logger

<PageTitle>HomePage</PageTitle>

<div class="fixed inset-0 z-[-1] bg-gray-900" @ref="_particlesBackground"></div>

<header class="bg-[#071318] w-full border-b-2 border-b-[#353535] px-6 py-2 flex flex-row items-center">
    <section class="flex-1 inline-flex flex-row justify-start items-center gap-4">
        <Logo/>
        
        <Hamburger OnToggle="EventUtils.AsNonRenderingEventHandler<bool>(OnPageNavigationHamburgerToggle)" @ref="_pageNavigationHamburger" class="lg:hidden"/>
        
        <Modal @ref="_pageNavigationModal" class="lg:hidden" OnClickOutside="ClosePageNavigation">
            <div class="fixed h-full transition-transform duration-500 @(_pageNavigationModal.Show ? "translate-x-0" : "-translate-x-full") z-10 bg-[#071318] border-r-2 border-r-[#353535] w-2/3 sm:w-1/2 md:w-1/3 p-5 pointer-events-auto overflow-hidden flex flex-col gap-4">
                <header class="flex-none">
                    <button class="text-white inline-flex flex-row justify-center items-center gap-2 hover:bg-white/10 px-3 py-2 rounded-full cursor-pointer" @onclick="EventUtils.AsNonRenderingEventHandler(ClosePageNavigation)">
                        <Arrow Direction="ArrowDirection.Left" class="size-6 fill-white"/>
            
                        Close
                    </button>
                </header>
            
                <nav class="flex-1 overflow-y-auto flex flex-col gap-2 px-6">
                    <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer flex-none" href="#" Match="NavLinkMatch.Prefix">
                        Home
                    </NavLink>
            
                    <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer flex-none" href="#" Match="NavLinkMatch.Prefix">
                        Safety
                    </NavLink>
            
                    <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer flex-none" href="#" Match="NavLinkMatch.Prefix">
                        Blog
                    </NavLink>
            
                    <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer flex-none" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" Match="NavLinkMatch.Prefix">
                        Download
                    </NavLink>
            
                    <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer flex-none" href="#" Match="NavLinkMatch.Prefix">
                        About
                    </NavLink>
                </nav>
            </div>
        </Modal>
    </section>
    
    <nav class="flex-3 justify-around items-center gap-1 hidden lg:flex">
        <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 hover-rising shimmer" href="#" Match="NavLinkMatch.Prefix">
            Home
        </NavLink>

        <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 hover-rising shimmer" href="#" Match="NavLinkMatch.Prefix">
            Safety
        </NavLink>

        <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 hover-rising shimmer" href="#" Match="NavLinkMatch.Prefix">
            Blog
        </NavLink>

        <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 hover-rising shimmer" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" Match="NavLinkMatch.Prefix">
            Download
        </NavLink>

        <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 hover-rising shimmer" href="#" Match="NavLinkMatch.Prefix">
            About
        </NavLink>
    </nav>

    <section class="flex-1">
        <AuthorizeView>
            <Authorized>
                <button class="float-end bg-transparent hover:bg-white/10 p-2 rounded-full inline-flex flex-row justify-end items-center gap-1 cursor-pointer" @onclick="EventUtils.AsNonRenderingEventHandler(OpenUserNavigationMenu)">
                    <div class="rounded-full bg-white size-9"></div>
                    <p class="text-white">@context.User.Identity?.Name</p>
                </button>

                <Modal @ref="_userNavigationModal" OnClickOutside="CloseUserNavigationMenu">
                    <div class="fixed right-0 h-full transition-transform duration-500 @(_userNavigationModal!.Show ? "translate-x-0" : "translate-x-full") z-10 bg-[#071318] border-l-2 border-l-[#353535] w-2/3 sm:w-1/2 md:w-1/3 p-5 pointer-events-auto overflow-hidden flex flex-col gap-4">
                        <header class="flex-none">
                            <button class="text-white inline-flex flex-row items-center gap-2 hover:bg-white/10 px-3 py-2 rounded-full cursor-pointer float-end" @onclick="EventUtils.AsNonRenderingEventHandler(CloseUserNavigationMenu)">
                                Close
                
                                <Arrow Direction="ArrowDirection.Right" class="size-6 fill-white flex-none"/>
                            </button>
                        </header>
                
                        <nav class="flex-1 overflow-y-auto flex flex-col gap-2 px-6">
                            <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer w-full flex flex-row justify-center items-center gap-3 flex-none" href="#" Match="NavLinkMatch.Prefix">
                                <SpeechBubble Filled="false" ArrowDirection="ChatArrowDirection.Right" Content="ChatContent.Dots" class="size-5 flex-none fill-white"/>
                
                                Chatting
                            </NavLink>
                
                            <NavLink class="text-white rounded-full px-7 py-2 font-bold border-2 border-indigo-500/30 shimmer w-full flex flex-row justify-center items-center gap-3 flex-none" href="/settings" Match="NavLinkMatch.Prefix">
                                <Gear class="size-5 fill-white flex-none"/>
                
                                Settings
                            </NavLink>
                
                            <LogoutButton/>
                        </nav>
                    </div>
                </Modal>
            </Authorized>

            <NotAuthorized>
                <div class="button-group justify-end">
                    <NavLink href="/auth/login" class="text-white py-2 font-bold border-indigo-500/30 grow-0 shrink-1 basis-24 text-center shimmer">Login</NavLink>
                    <NavLink href="/auth/register" class="text-white py-2 font-bold border-indigo-500/30 grow-0 shrink-1 basis-24 text-center shimmer">Register</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </section>
</header>

<SectionContent SectionName="javascript">
    @if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
        <script type="module" src="scripts/pages/home.ts"></script>
    } else {
        if (ViteManifest["scripts/pages/home.ts"] is { } chunk) {
            <script type="module" src="@chunk.File"></script>

            if (chunk.Imports != null) {
                foreach (string import in chunk.Imports) {
                    if (!ViteManifest.ContainsKey(import)) continue;

                    <script type="module" src="@ViteManifest[import]!.File"></script>
                }
            }
        }
    }
</SectionContent>

@code {
    private IJSObjectReference? _module;
    private ElementReference _particlesBackground;

    private Hamburger _pageNavigationHamburger = null!;
    private Modal _pageNavigationModal = null!;

    private Modal? _userNavigationModal;
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./scripts/pages/home.ts");
            await _module.InvokeVoidAsync("initParticlesBackground", _particlesBackground);
        }
    }

    private void OnPageNavigationHamburgerToggle(bool show) {
        if (show) {
            _pageNavigationModal.ShowModal();
        } else {
            _pageNavigationModal.HideModal();
        }
    }

    private async Task ClosePageNavigation() {
        await _pageNavigationHamburger.Trigger(false);
    }

    private void OpenUserNavigationMenu() {
        Debug.Assert(_userNavigationModal != null);

        _userNavigationModal.ShowModal();
    }

    private void CloseUserNavigationMenu() {
        Debug.Assert(_userNavigationModal != null);
        
        _userNavigationModal.HideModal();
    }

    public async ValueTask DisposeAsync() {
        if (_module != null) {
            try {
                await _module.InvokeVoidAsync("disposeParticlesBackground");
                await _module.DisposeAsync();
            } catch (JSDisconnectedException) {
            }
        }
    }
}