@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Microsoft.AspNetCore.Components.Sections
@using System.Diagnostics
@using System.Security.Claims

@inherits LayoutComponentBase

@implements IDisposable

@layout SidebarLobbyLayout

@inject IContentService ContentService
@inject IConversationService ConversationService
@inject IUserNotificationService UserNotificationService
@inject NavigationManager NavigationManager

<SectionContent SectionName="lobby-sidebar">
    <div class="flex flex-col gap-1 p-2">
        <NavLink href="/lobby/activity" class="@("flex flex-row justify-start items-center px-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer bg-transparent hover:bg-white/15 active:bg-black/15")" ActiveClass="bg-white/20" Match="NavLinkMatch.Prefix">
            <Airplane class="size-6 flex-none fill-white"/>

            <p class="block select-none">Activity</p>
        </NavLink>

        <NavLink href="/lobby/social" class="@("flex flex-row justify-start items-center px-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer bg-transparent hover:bg-white/15 active:bg-black/15")" ActiveClass="bg-white/20" Match="NavLinkMatch.Prefix">
            <People class="size-6 flex-none fill-white"/>

            <p class="block select-none">Social</p>
        </NavLink>
    </div>

    <hr class="border-t border-t-gray-600 mx-2"/>

    <div class="bg-transparent pt-2 px-2 pb-1">
        <Virtualize @ref="_conversationsVirtualize" ItemsProvider="ConversationsLoadProvider" OverscanCount="8">
            <ItemContent Context="item">
                <UserCard @key="item.ConversationId"
                          UserId="item.OtherUserDisplay.UserId"
                          DisplayName="@item.OtherUserDisplay.DisplayName"
                          UserName="@item.OtherUserDisplay.UserName"
                          AvatarSrc="@(string.IsNullOrEmpty(item.OtherUserDisplay.AvatarPath) ? null : ContentService.GetAssetPath(item.OtherUserDisplay.AvatarPath))"
                          OnClick="_ => RedirectConversation(item.ConversationId)"
                          class="h-12"/>
            </ItemContent>
        </Virtualize>
    </div>
</SectionContent>

<section class="col-span-10 bg-gray-700 h-full overflow-hidden flex-1 text-white">
    @Body
</section>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private Guid _userId;

    private Virtualize<DirectConversationDisplayDTO> _conversationsVirtualize = null!;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationState;

        string? nameIdentifier = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
        Debug.Assert(!string.IsNullOrEmpty(nameIdentifier));

        _userId = Guid.Parse(nameIdentifier);
    }

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            ConversationService.OnConversationCreated += OnConversationCreated;
            UserNotificationService.OnIncomingDirectMessage += OnIncomingDirectMessage;
        }
    }

    private void RedirectConversation(Guid conversationId) {
        NavigationManager.NavigateTo($"/lobby/messages/{conversationId}");
    }

    private async ValueTask<ItemsProviderResult<DirectConversationDisplayDTO>> ConversationsLoadProvider(ItemsProviderRequest request) {
        (int totalCount, List<DirectConversationDisplayDTO> page) = await ConversationService.PaginateDirectConversationDisplayAsync(_userId, request.StartIndex, request.Count);
        return new(page, totalCount);
    }

    private void OnConversationCreated(Conversation conversation) {
        InvokeAsync(async () => {
            await _conversationsVirtualize.RefreshDataAsync();
            StateHasChanged();
        });
    }

    private void OnIncomingDirectMessage(IncomingDirectMessageEventArgs args) {
        InvokeAsync(async () => {
            await _conversationsVirtualize.RefreshDataAsync();
            StateHasChanged();
        });
    }

    public void Dispose() {
        ConversationService.OnConversationCreated -= OnConversationCreated;
        UserNotificationService.OnIncomingDirectMessage -= OnIncomingDirectMessage;
    }
}