@page "/lobby/messages/{ConversationId:guid}"

@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Services.Abstracts
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService
@inject IUserCallService UserCallService

<div class="flex flex-col size-full overflow-hidden">
    <header class="flex-none px-2 py-1 border-b border-b-gray-600 bg-gray-725 flex flex-row items-center basis-12">
        @switch (_initState) {
            case InitializationState.Initializing:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>Loading...</p>
                break;

            case InitializationState.NoPermission:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>You shouldn't be here.</p>
                break;

            case InitializationState.NoConversation:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>Nothing here...</p>
                break;

            case InitializationState.Success:
                <Avatar ImageSrc="@(string.IsNullOrEmpty(_otherUserInfo.Avatar) ? null : ContentService.GetAssetPath(_otherUserInfo.Avatar))" ImageAlt="Friend's Avatar" class="size-9 mr-2 flex-none"/>
                <p class="flex-1">@_otherUserInfo.DisplayName</p>
                
                @* <Tooltip TargetCssClass="ml-2 flex flex-row justify-center items-center aspect-square h-full" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="bottom" Offset="8"> *@
                @*     <TargetContent> *@
                @*         <button class="cursor-pointer group" @onclick="HandleInitializeCall"> *@
                @*             <Telephone class="size-6 fill-gray-300 group-hover:fill-white" Variation="TelephoneVariation.Outbound"/> *@
                @*         </button> *@
                @*     </TargetContent> *@
                @*      *@
                @*     <TooltipContent> *@
                @*         <p>Make a call</p> *@
                @*     </TooltipContent> *@
                @* </Tooltip> *@
                break;
        }
    </header>

    <section class="flex-1 overflow-hidden">
        <div class="flex flex-row h-full">
            <MessagingArea class="flex-1" 
                           ConversationId="ConversationId" 
                           LoadCount="ApplicationConstants.MessageLoadCount"
                           DisallowReport="true"/>
            
            <aside class="flex-none basis-80 hidden md:block bg-gray-750 border-l border-l-gray-600">
                @if (_initState == InitializationState.Success) {
                    <section class="relative h-32">
                        <div class="absolute inset-0 bg-cover bg-center bg-black"></div>

                        <div class="absolute -bottom-8 left-4">
                            <div class="relative">
                                <Avatar class="size-20 border-4 border-gray-700" ImageSrc="@(string.IsNullOrEmpty(_otherUserInfo.Avatar) ? null : ContentService.GetAssetPath(_otherUserInfo.Avatar))" ImageAlt="Preview Avatar"/>

                                @* TODO: Status indicator *@
                            </div>
                        </div>
                    </section>

                    <section class="px-2 pt-10">
                        <p class="text-xl font-bold">@_otherUserInfo.DisplayName</p>
                        <p class="text-sm">@_otherUserInfo.UserName</p>

                        <p class="mt-2 text-sm">
                            <span class="font-semibold">Joined since:</span> @_otherUserInfo.CreatedAt.ToString("yyyy/MM/dd")
                        </p>
                        
                        @if (!string.IsNullOrEmpty(_otherUserInfo.Pronouns)) {
                            <p class="text-sm mt-2">
                                <span class="font-semibold">Pronouns:</span>
                        
                                @_otherUserInfo.Pronouns
                            </p>
                        }
                        
                        @if (!string.IsNullOrEmpty(_otherUserInfo.Bio)) {
                            <p class="text-sm mt-2 font-semibold">About me</p>
                            
                            <p class="bg-gray-700 mt-1 p-1 rounded-lg text-sm">
                                @_otherUserInfo.Bio
                            </p>
                        }
                    </section>
                }
            </aside>
        </div>
    </section>
</div>

@code {
    [Parameter] public Guid ConversationId { get; set; }
    private Guid _previousConversationId;

    private OtherUserDTO _otherUserInfo = null!;
    private InitializationState _initState;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private string _userId = null!;
    
    protected override async Task OnInitializedAsync() {
        _initState = InitializationState.Initializing;
        
        var authState = await AuthenticationState;
        _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

        if (string.IsNullOrEmpty(_userId)) {
            _initState = InitializationState.NoPermission;
        }
    }

    protected override void OnParametersSet() {
        if (_previousConversationId != ConversationId) {
            _initState = InitializationState.Initializing;
            _previousConversationId = ConversationId;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_initState == InitializationState.Initializing) {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            var otherUser = await dbContext.Conversations
                .Where(c => c.Type == ConversationType.DirectMessage && c.Id == ConversationId)
                .Select(c => c.FriendRequest!.SenderId == _userId ? c.FriendRequest.ReceiverId : c.FriendRequest.SenderId)
                .Join(dbContext.Users, id => id, u => u.Id, (id, u) => new OtherUserDTO {
                    UserId = u.Id,
                    UserName = u.UserName!,
                    DisplayName = u.DisplayName,
                    Avatar = u.AvatarProfilePath,
                    Pronouns = u.Pronouns,
                    Bio = u.Bio,
                    CreatedAt = u.CreatedAt,
                })
                .FirstOrDefaultAsync();

            if (otherUser == null) {
                _initState = InitializationState.NoConversation;
            } else {
                _initState = InitializationState.Success;
                _otherUserInfo = otherUser;
            }
            
            StateHasChanged();
        }
    }

    private async Task HandleInitializeCall() {
        await UserCallService.InitializeDirectCall(_userId, _otherUserInfo.UserId);
    }

    private enum InitializationState {
        Initializing,
        NoPermission,
        NoConversation,
        Success,
    }

    private sealed class OtherUserDTO {
        public required string UserId { get; init; }
        public required string? Avatar { get; init; }
        public required string DisplayName { get; init; }
        public required string UserName { get; init; }
        public required string? Pronouns { get; init; }
        public required string? Bio { get; init; }
        public required DateTime CreatedAt { get; init; }
    }
}