@using Conflux.Application.Dto
@using Conflux.Web.Components.Pages.Admin.Modals
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Helpers
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore

@implements IAsyncDisposable

@inject IUserService UserService
@inject IContentService ContentService
@inject ModalService ModalService
@inject ILogger<UserListView> Logger

<div class="flex flex-col @_cssClass" @attributes="AdditionalAttributes">
    <header class="flex flex-row justify-center items-center gap-1 flex-none">
        <p class="size-xl font-bold flex-1">Users</p>
        
        <SearchField @bind-Value="_searchField" @bind-Value:after="AfterModifySearchField" class="flex-1"/>
        
        <AuthorizeView Roles="Admin, SystemDeveloper">
            <Authorized>
                <button class="button-primary basis-28 p-2!" @onclick="EventUtils.AsNonRenderingEventHandler(OpenUserCreationModal)">Create</button>
            </Authorized>
        </AuthorizeView>
    </header>
    
    <section class="flex-1 border border-gray-600 rounded-lg px-1 mt-1 overflow-y-auto scrollbar-hide space-y-1">
        <Virtualize @ref="_virtualize" ItemsProvider="VirtualizeProvider">
            <ItemContent Context="item">
                <UserCard AvatarSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))"
                          DisplayName="@item.DisplayName"
                          UserName="@item.UserName"
                          UserId="@item.UserId"
                          OnClick="HandleUserCardClick"
                          class="h-10 group"/>
            </ItemContent>
            
            <EmptyContent>
                <div class="flex flex-row justify-center items-center size-full">
                    <p class="text-gray-400 text-sm">No one with such name...</p>
                </div>
            </EmptyContent>
        </Virtualize>
    </section>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    private string _searchField = string.Empty;

    private Virtualize<UserDisplayDTO> _virtualize = null!;
    private Debouncer? _debouncer = null!;

    protected override void OnInitialized() {
        _debouncer = new(OnSearchDebouncerEnd, TimeSpan.FromMilliseconds(250));
    }

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }
        
        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    private async Task OnSearchDebouncerEnd(CancellationToken cancellationToken) {
        await _virtualize.RefreshDataAsync();
        StateHasChanged();
    }

    private async ValueTask<ItemsProviderResult<UserDisplayDTO>> VirtualizeProvider(ItemsProviderRequest request) {
        string namePattern = $"%{_searchField}%";
        
        var page = await UserService.PaginateUserDisplayAsync(
            query => query.OrderBy(u => u.DisplayName),
                query => 
                    string.IsNullOrEmpty(_searchField) ? 
                        query : 
                        query.Where(u => EF.Functions.ILike(u.DisplayName, namePattern) || EF.Functions.ILike(u.UserName!, namePattern)),
            request.StartIndex,
            request.Count);
        
        return new(page.Page, page.TotalCount);
    }

    private void OpenUserCreationModal() {
        ModalService.Open<UserCreationModal>();
    }

    private void HandleUserCardClick(UserCard card) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = card.UserId,
            [nameof(UserProfileModal.InspectingMemberId)] = null,
        });
    }

    private async Task AfterModifySearchField() {
        await _debouncer!.Start();
    }

    public async ValueTask DisposeAsync() {
        if (_debouncer != null) {
            await _debouncer.DisposeAsync();
        }
    }
}