@using Conflux.Web.Components.Shared
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Identity

@implements IAsyncDisposable

@inject IJSRuntime JavascriptRuntime
@inject UserManager<ApplicationUser> UserManager
@inject IContentService ContentService

<div class="mt-3 mx-0 w-full md:mx-auto md:w-2/3 lg:w-3/4">
    <EditForm class="grid grid-cols-1 lg:grid-cols-2 gap-2" EditContext="_editContext" FormName="Profile">
        <AntiforgeryToken/>
        <DataAnnotationsValidator/>

        <div>
            <label class="font-semibold">Avatar (@_editContext.GetValidationMessages(_avatarOperationField).Count())</label>
    
            <div class="mt-2">
                <PreviewableImageInput @ref="_avatarElement"
                                       @bind-File="Model.Avatar.FileOperation"
                                       @bind-File:after="OnAvatarOperationChanged"
                                       ImageSrc="@(string.IsNullOrEmpty(User.AvatarProfilePath) ? null : ContentService.GetAssetPath(User.AvatarProfilePath))" 
                                       ImageAlt="Avatar"
                                       class="size-96 rounded-full"/>
                
                @if (_avatarElement?.RootElementReference is { } targetElement) {
                    <Popover TargetReference="targetElement" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" IsShowing="@(!_editContext.IsValid(_avatarOperationField))" class="max-w-[90%]">
                        <ValidationMessage For="() => Model.Avatar.FileOperation" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                    </Popover>
                }
            </div>
        </div>

        <div>
            <label class="font-semibold">Username</label>
            <input type="text" readonly value="@User.UserName" class="mt-2 input-field h-11 w-full" disabled>
        </div>
        
        <div class="relative">
            <label class="font-semibold">Display Name</label>

            @{
                string classes = $"w-full h-11 mt-2 input-field {(_editContext.IsValid(_displayNameField) ? string.Empty : "border-red-700")}";
            }

            <InputText @ref="_displayNameElement" type="text" @bind-Value="Model.DisplayName" placeholder="Display Name" class="@classes" maxlength="32"/>
            
            @if (_displayNameElement?.Element.HasValue ?? false) {
                <Popover TargetReference="_displayNameElement.Element.Value" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" IsShowing="@(!_editContext.IsValid(_displayNameField))" class="max-w-[90%]">
                    <ValidationMessage For="() => Model.DisplayName" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                </Popover>
            }
        </div>

        <div class="relative">
            <label class="font-semibold">Pronouns</label>
                            
            @{
                classes = $"w-full h-11 mt-2 input-field {(_editContext.IsValid(_pronounsField) ? string.Empty : "border-red-700")}";
            }

            <InputText @ref="_pronounsElement" type="text" @bind-Value="Model.Pronouns" placeholder="Pronouns" class="@classes" maxlength="32"/>
            
            @if (_pronounsElement?.Element.HasValue ?? false) {
                <Popover TargetReference="_pronounsElement.Element.Value" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" IsShowing="@(!_editContext.IsValid(_pronounsField))" class="max-w-[90%]">
                    <ValidationMessage For="() => Model.Pronouns" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                </Popover>
            }
        </div>

        <div class="col-start-1 col-end-2 lg:col-end-3">
            <label class="font-semibold">About me</label>
                            
            @{
                classes = $"w-full h-55 mt-2 input-field {(_editContext.IsValid(_bioField) ? string.Empty : "border-red-700")}";
            }

            <InputTextArea @ref="_bioElement" type="text" @bind-Value="Model.Bio" class="@classes" placeholder="Biography"/>
            
            @if (_bioElement?.Element.HasValue ?? false) {
                <Popover TargetReference="_bioElement.Element.Value" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" IsShowing="@(!_editContext.IsValid(_bioField))" class="max-w-[90%]">
                    <ValidationMessage For="() => Model.Bio" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                </Popover>
            }
        </div>
    </EditForm>
</div>

<SectionContent SectionName="OutsideContainer">
    <UnsavedChangesPopup @bind-IsShowing="_hasUnsavedChanges" OnCancelRequest="CancelEdit" OnSaveRequest="SaveProfile"/>
</SectionContent>

@code {
    [Parameter, EditorRequired] public required ProfilePage.ProfileInputModel Model { get; set; }
    [Parameter, EditorRequired] public required ApplicationUser User { get; set; }

    [Parameter] public string? AvatarPreviewUrl { get; set; }
    [Parameter] public EventCallback<string?> AvatarPreviewUrlChanged { get; set; }
    [Parameter] public Expression<Func<string?>>? AvatarPreviewUrlExpression { get; set; }

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private EditContext _editContext = null!;

    private PreviewableImageInput? _avatarElement;
    private InputText? _displayNameElement, _pronounsElement;
    private InputTextArea? _bioElement;
    
    private FieldIdentifier _displayNameField, _pronounsField, _bioField, _avatarOperationField;
    private ValidationMessageStore _validationMessages = null!;

    private bool _hasUnsavedChanges;

    protected override void OnInitialized() {
        ResetProfileForm();
    }

    protected override void OnParametersSet() {
        _displayNameField = FieldIdentifier.Create(() => Model.DisplayName);
        _pronounsField = FieldIdentifier.Create(() => Model.Pronouns);
        _bioField = FieldIdentifier.Create(() => Model.Bio);
        _avatarOperationField = FieldIdentifier.Create(() => Model.Avatar.FileOperation);
    }

    private void ResetProfileForm() {
        _editContext = new(Model);
        _editContext.OnFieldChanged += (sender, args) => {
            if (_editContext.IsValid(args.FieldIdentifier)) {
                _hasUnsavedChanges = true;
            }
        };

        _validationMessages = new(_editContext);
        _editContext.OnValidationRequested += ValidationRequested;
    }

    private void ValidationRequested(object? sender, ValidationRequestedEventArgs args) {
        _validationMessages.Clear();

        if (Model.Avatar.FileOperation.File is { } avatarFile) {
            if (!avatarFile.ContentType.StartsWith("image/")) {
                _validationMessages.Add(_avatarOperationField, "Invalid file format.");
                return;
            }

            if (avatarFile.Size > ApplicationConstants.MaxUserAvatarSize) {
                _validationMessages.Add(_avatarOperationField, $"Avatar surpassed maximum allowed size of {ApplicationConstants.MaxUserAvatarSize} bytes.");
            }
        }
    }

    private void OnAvatarOperationChanged() {
        switch (Model.Avatar.FileOperation.Operation) {
            case ImageUploadOperation.Delete or ImageUploadOperation.Upload:
                _editContext.NotifyFieldChanged(_avatarOperationField);
                break;
                
            case ImageUploadOperation.Nothing:
                _editContext.MarkAsUnmodified(_avatarOperationField);
                break;
        }
    }

    private async Task SaveProfile() {
        if (!_editContext.Validate()) {
            return;
        }

        try {
            // Copy model properties into user instance
            User.DisplayName = Model.DisplayName.Trim();
            User.Pronouns = Model.Pronouns?.Trim();
            User.Bio = Model.Bio?.Trim();

            // Process Avatar.
            switch (Model.Avatar.FileOperation.Operation) {
                case ImageUploadOperation.Upload:
                {
                    await using var srcStream = Model.Avatar.FileOperation.File!.OpenReadStream(ApplicationConstants.MaxUserAvatarSize);

                    string databasePath = await ContentService.UploadUserAvatarAsync(srcStream, User.Id);

                    User.AvatarProfilePath = databasePath;
                    break;
                }
                    
                case ImageUploadOperation.Delete:
                    await ContentService.DeleteUserAvatarAsync(User.Id);
                    User.AvatarProfilePath = null;
                    break;
            }

            User.IsProfileSetup = true; // Mark user as profile setup, vibe checked.

            var updateResult = await UserManager.UpdateAsync(User);

            if (!updateResult.Succeeded) {
                // TODO: Report.
            }

            await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", AvatarPreviewUrl);
            AvatarPreviewUrl = null;
            Model.Avatar.FileOperation = default;
        } finally {
            _hasUnsavedChanges = false;
        }

        await AvatarPreviewUrlChanged.InvokeAsync();
    }

    private async Task CancelEdit() {
        Model.DisplayName = User.DisplayName;
        Model.Pronouns = User.Pronouns;
        Model.Bio = User.Bio;
        Model.Avatar.FileOperation = default;

        AvatarPreviewUrl = null;
        
        await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", AvatarPreviewUrl);
        await AvatarPreviewUrlChanged.InvokeAsync(null);

        ResetProfileForm();
    }

    public async ValueTask DisposeAsync() {
        if (AvatarPreviewUrl != null) {
            try {
                await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", AvatarPreviewUrl);
            } catch (JSDisconnectedException) {
            }
        }
    }
}