@page "/admin/reports"
@using Conflux.Application.Dto
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Services.Implementations
@using System.Security.Claims

@inject IStatisticsService StatisticsService
@inject IReportService ReportService
@inject IContentService ContentService
@inject ModalService ModalService

<h1 class="text-2xl font-semibold">Report Management</h1>

<h2 class="text-lg mt-2">Report metrics</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2 mt-2">
    <Card class="border border-gray-600 shadow-md">
        <CardHeader Title="Total"/>
        
        <CardContent>
            @if (_isLoading) {
                <p class="text-right text-lg animate-pulse select-none">Loading...</p>
            } else {
                <p class="text-right text-xl">@_reportStatistics.TotalReportCount</p>
            }
        </CardContent>
    </Card>
    
    <Card class="border border-gray-600 shadow-md">
        <CardHeader Title="Unresolved"/>
        
        <CardContent>
            @if (_isLoading) {
                <p class="text-right text-lg animate-pulse select-none">Loading...</p>
            } else {
                <p class="text-right text-xl">@_reportStatistics.UnresolvedReportCount (@((_reportStatistics.UnresolvedReportCount / _reportStatistics.TotalReportCount).ToString("P2")))</p>
            }
        </CardContent>
    </Card>
    
    <Card class="border border-gray-600 shadow-md">
        <CardHeader Title="Dismissed"/>
        
        <CardContent>
            @if (_isLoading) {
                <p class="text-right text-lg animate-pulse select-none">Loading...</p>
            } else {
                <p class="text-right text-xl">@_reportStatistics.GlobalDismissCount (@((_reportStatistics.GlobalDismissCount / _reportStatistics.TotalReportCount).ToString("P2")))</p>
            }
        </CardContent>
    </Card>
    
    <Card class="border border-gray-600 shadow-md">
        <CardHeader Title="Warned"/>
        
        <CardContent>
            @if (_isLoading) {
                <p class="text-right text-lg animate-pulse select-none">Loading...</p>
            } else {
                <p class="text-right text-xl">@_reportStatistics.GlobalWarnCount (@((_reportStatistics.GlobalWarnCount / _reportStatistics.TotalReportCount).ToString("P2")))</p>
            }
        </CardContent>
    </Card>
    
    <Card class="border border-gray-600 shadow-md">
        <CardHeader Title="Banned"/>
        
        <CardContent>
            @if (_isLoading) {
                <p class="text-right text-lg animate-pulse select-none">Loading...</p>
            } else {
                <p class="text-right text-xl">@_reportStatistics.GlobalBanCount (@((_reportStatistics.GlobalBanCount / _reportStatistics.TotalReportCount).ToString("P2")))</p>
            }
        </CardContent>
    </Card>
</div>

<div class="mt-2 grid grid-cols-1 lg:grid-cols-4 gap-1 h-auto lg:h-160">
    <section class="h-64 lg:h-full flex flex-col gap-1 overflow-y-hidden">
        <h3 class="flex-none">Reported Users</h3>
        
        <div class="flex-1 border border-gray-600 rounded-md bg-gray-725 p-1 overflow-y-auto scrollbar-hide h-full overscroll-y-auto">
            <Virtualize ItemsProvider="ReportedUsersProvider">
                <ItemContent Context="item">
                    @{ string cssClass = item.UserId == _selectedReportedUserId ? "h-10 bg-white/8" : "h-10"; }
            
                    <UserCard UserId="item.UserId"
                              MemberId="@null"
                              DisplayName="@item.DisplayName"
                              UserName="@item.UserName"
                              AvatarSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))"
                              class="@cssClass"
                              OnClick="() => SelectReportedUser(item.UserId)"/>
                </ItemContent>
            </Virtualize>
        </div>
    </section>
    
    <section class="h-auto lg:h-full lg:col-span-3 flex flex-col gap-1 overflow-y-hidden">
        <h3 class="flex-none">Details</h3>
        
        <div class="flex-1 border border-gray-600 rounded-md bg-gray-725 p-2 overflow-y-auto scrollbar-hide h-full overscroll-y-auto">
            @if (_selectedReportedUserId == null) {
                <div class="size-full flex justify-center items-center">
                    <p class="text-gray-400 text-sm">Select an user to see their report metrics</p>
                </div>
            } else {
                if (_selectedUserReportStatistics is { } userReportStatistics) {
                    <h1 class="text-2xl font-bold">Report Information</h1>
                                
                    <section class="mt-2">
                        <h2 class="text-xl font-semibold">Metrics</h2>
                        
                        <div class="mt-2 grid grid-cols-2 md:grid-cols-3 gap-2">
                            <Card class="border border-gray-600 shadow-md">
                                <CardContent class="flex flex-row justify-between items-center px-2!">
                                    <p>Report Count</p>
                                    
                                    <p>@userReportStatistics.TotalReportCount</p>
                                </CardContent>
                            </Card>
                            
                            <Card class="border border-gray-600 shadow-md">
                                <CardContent class="flex flex-row justify-between items-center px-2!">
                                    <p>Resolved Count</p>
                                    
                                    <p>@userReportStatistics.ResolvedReportCount</p>
                                </CardContent>
                            </Card>
                                
                            <Card class="border border-gray-600 shadow-md">
                                <CardContent class="flex flex-row justify-between items-center px-2!">
                                    <p>Resolved Percentage</p>
                                        
                                    <p>@((userReportStatistics.ResolvedReportCount / userReportStatistics.TotalReportCount).ToString("P2"))</p>
                                </CardContent>
                            </Card>
                            
                            <Card class="border border-gray-600 shadow-md">
                                <CardContent class="flex flex-row justify-between items-center px-2!">
                                    <p>Warn Count</p>
                                                    
                                    <p>@userReportStatistics.WarnCount</p>
                                </CardContent>
                            </Card>
                        </div>
                    </section>
                    
                    <div class="mt-4 flex flex-row justify-center items-center" @onclick="EventUtils.AsNonRenderingEventHandler(OpenReportManagementModal)">
                        <button class="button-primary">Open Report Management</button>
                    </div>
                } else {
                    <div class="size-full flex justify-center items-center">
                        <p class="text-gray-400 text-sm">Failed to load report metric</p>
                    </div>
                }
            }
        </div>
    </section>
</div>

@code {
    private bool _isLoading = true;
    private ReportStatisticsDTO _reportStatistics;

    private Guid? _selectedReportedUserId;
    private UserReportStatistics? _selectedUserReportStatistics;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private Guid _userId;

    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;
        _userId = Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _reportStatistics = await StatisticsService.GetReportStatistics();
            _isLoading = false;

            StateHasChanged();
        }
    }

    private async ValueTask<ItemsProviderResult<UserDisplayDTO>> ReportedUsersProvider(ItemsProviderRequest request) {
        (var count, var page) = await ReportService.PaginateReportedUsersAsync(request.StartIndex, request.Count);

        return new(page, count);
    }

    private async Task SelectReportedUser(Guid id) {
        _selectedReportedUserId = id;
        _selectedUserReportStatistics = await StatisticsService.GetUserReportStatistics(id);
    }
    
    private void OpenReportManagementModal() {
        ModalService.Open<ReportManagementModal>(parameters: new Dictionary<string, object?> {
            [nameof(ReportManagementModal.CommunityId)] = null,
            [nameof(ReportManagementModal.ReportedMessageIdsProvider)] = new ItemsProviderDelegate<Guid>(ReportedMessageIdsProvider),
            [nameof(ReportManagementModal.ResolverUserId)] = _userId,
        });
        return;

        async ValueTask<ItemsProviderResult<Guid>> ReportedMessageIdsProvider(ItemsProviderRequest request) {
            if (_selectedReportedUserId is not { } userId) {
                return new([], 0);
            }

            (var totalCount, var page) = await ReportService.PaginateUserReportedMessageIdsAsync(userId, request.StartIndex, request.Count);
            return new(page, totalCount);
        }
    }
}