@using Conflux.Application.Dto
@using Conflux.Web.Core
@using Conflux.Web.Services.Abstracts
@using System.Diagnostics

@implements IAsyncDisposable

@inject IJSRuntime JavascriptRuntime
@inject IContentService ContentService
@inject IUserService UserService
@inject IUserCallService UserCallService

@{
    bool isCallInitiator = CallRoom.InitiatorUserId == SessionUserId;
}

<div @ref="_rootElement" class="pointer-events-auto select-none shadow-md flex flex-col text-white" style="width: 32%; height: 18%">
    <header class="bg-gray-600 h-8 flex-none items-center px-2 py-1">
        @switch (_state) {
            case State.Initializing:
                <p class="flex-1 animate-pulse">Initializing...</p>
                break;

            case State.Success:
                var otherUser = _otherUser!.Value;
                
                @switch (CallRoom.State) {
                    case CallRoomState.WaitingForAnswer:
                        @if (isCallInitiator) {
                            <p class="flex-1 animate-pulse whitespace-nowrap overflow-hidden text-ellipsis">Calling @otherUser.DisplayName</p>
                        } else {
                            <p class="flex-1 animate-pulse whitespace-nowrap overflow-hidden text-ellipsis">Incoming call from @otherUser.DisplayName</p>
                        }
                        break;
                        
                    case CallRoomState.Calling:
                        <p class="flex-1 animate-pulse whitespace-nowrap overflow-hidden text-ellipsis">@otherUser.DisplayName</p>
                        break;
                }
                break;
        }
    </header>

    <section class="bg-black flex-1 relative overflow-y-hidden">
        @switch (_state) {
            case State.Initializing:
                <div class="size-full flex flex-row justify-center items-center">
                    <Spinner class="size-8 fill-white"/>
                </div>
                break;

            case State.Success: {
                var otherUser = _otherUser!.Value;
                
                @if (CallRoom.State == CallRoomState.WaitingForAnswer) {
                    <div class="size-full overflow-hidden flex justify-center items-center">
                        <img src="@(string.IsNullOrEmpty(otherUser.AvatarPath) ? null : ContentService.GetAssetPath(otherUser.AvatarPath))"
                             alt="@(isCallInitiator ? "Receiver's Avatar" : "Caller's Avatar")"
                             class="size-full object-contain">
                    </div>
                }
                break;
            }
        }
        
        <div class="size-full overflow-hidden flex justify-center items-center @(_state == State.Success && CallRoom.State == CallRoomState.Calling ? string.Empty : "hidden")">
            <div class="flex-1 h-full flex justify-center items-center">
                <video @ref="_localVideoElement" class="max-w-full max-h-full object-contain -scale-x-100" playsinline autoplay muted></video>
            </div>
            
            <div class="flex-1 h-full flex justify-center items-center">
                <video @ref="_remoteVideoElement" class="max-w-full max-h-full object-contain -scale-x-100" playsinline autoplay></video>
            </div>
        </div>

        <div class="actions-container z-10 absolute top-1 left-1 flex flex-col gap-2.5 items-center p-1 rounded-md bg-gray-700 border border-gray-600">
            <button class="cursor-pointer flex-none group" @onclick="HandleHangUp">
                <Telephone Variation="TelephoneVariation.X" class="size-7 fill-gray-300 group-hover:fill-white"/>
            </button>
            
            @switch (CallRoom.State) {
                case CallRoomState.WaitingForAnswer:
                    if (!isCallInitiator) {
                        <button class="cursor-pointer flex-none group" @onclick="HandleAcceptCall">
                            <Telephone Variation="TelephoneVariation.Inbound" class="size-7 fill-gray-300 group-hover:fill-white"/>
                        </button>
                    }
                    break;
                    
                case CallRoomState.Calling:
                    <button class="cursor-pointer flex-none group" @ref="_audioOptionsButton" @onclick="ToggleAudioOptions">
                        <Volume Variation="VolumeVariations.Up" class="size-7 fill-gray-300 group-hover:fill-white"/>
                    </button>
                    
                    <Popover TargetReference="_audioOptionsButton" @bind-IsShowing="_isShowingAudioOptions" CloseWhenClickOutside="true" DisplayArrow="true" ArrowCssClass="bg-gray-700" Placement="right" Offset="15">
                        <div class="bg-gray-700 p-2 rounded-lg">
                            <label class="input-label">Input Device</label>
                            
                            <MediaDeviceSelectionDropdown @bind-DeviceId:get="_audioInputDevice" @bind-DeviceId:set="SetAudioInputDevice" ContainerCssClass="w-64 mt-1 mb-2" ButtonCssClass="w-full h-9" PopoverCssClass="w-full flex-none" DeviceKind="MediaDeviceKind.AudioInput"/>
                            
                            <label class="input-label">Output Device</label>
                            
                            <MediaDeviceSelectionDropdown @bind-DeviceId:get="_audioOutputDevice" @bind-DeviceId:set="SetAudioOutputDevice" ContainerCssClass="w-64 mt-1 mb-2" ButtonCssClass="w-full h-9" PopoverCssClass="w-full flex-none" DeviceKind="MediaDeviceKind.AudioOutput"/>
                        </div>
                    </Popover>
                    
                    <button class="cursor-pointer flex-none group relative" @ref="_videoButtonsOption" @onclick="ToggleVideoOptions">
                        <Camera class="size-7 fill-gray-300 group-hover:fill-white"/>
                    </button>
                    
                    <Popover TargetReference="_videoButtonsOption" @bind-IsShowing="_isShowingVideoOptions" CloseWhenClickOutside="true" DisplayArrow="true" ArrowCssClass="bg-gray-700" Placement="right" Offset="15">
                        <div class="bg-gray-700 p-2 rounded-lg">
                            <label class="input-label">Input Device</label>
                            
                            <MediaDeviceSelectionDropdown @bind-DeviceId:get="_videoInputDevice" @bind-DeviceId:set="SetVideoInputDevice" ContainerCssClass="w-64 mt-1 mb-2" ButtonCssClass="w-full h-9" PopoverCssClass="w-full flex-none" DeviceKind="MediaDeviceKind.VideoInput"/>
                        </div>
                    </Popover>
                    break;
            }
        </div>
    </section>
</div>

@code {
    [Parameter, EditorRequired] public required CallRoom CallRoom { get; set; }

    [CascadingParameter(Name = "SessionUserId")] private Guid SessionUserId { get; set; }

    private IJSObjectReference? _module;
    private IJSObjectReference? _callScreen;

    private DotNetObjectReference<CallScreen> _selfReference = null!;

    private ElementReference _rootElement;
    private State _state;

    // private ElementReference _localVideoElement;

    private UserDisplayDTO? _otherUser;
    private bool _emitOffer;
    private ElementReference _localVideoElement, _remoteVideoElement, _audioOptionsButton, _videoButtonsOption;

    private bool _isShowingVideoOptions, _isShowingAudioOptions;

    private string _audioInputDevice = string.Empty, _audioOutputDevice = string.Empty;
    private float _audioVolume;
    private string _videoInputDevice = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            if (CallRoom.InitiatorUserId == SessionUserId) {
                UserCallService.OnAnswerReceived += OnAnswerReceived;
            } else {
                UserCallService.OnOfferReceived += OnOfferReceived;
            }

            UserCallService.OnIceCandidateReceived += OnIceCandidateReceived;
            UserCallService.OnCallAccepted += OnCallAccepted;
            
            var iceServers = await UserCallService.CreateShortLivedIceServerConfiguration();

            _selfReference = DotNetObjectReference.Create(this);

            _module = await JavascriptRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/CallScreen.js");
            _callScreen = await _module.InvokeAsync<IJSObjectReference>("initialize", _selfReference, _rootElement, _remoteVideoElement, SessionUserId, iceServers);

            if (CallRoom.InitiatorUserId == SessionUserId) {
                _otherUser = await UserService.GetUserDisplayAsync(CallRoom.ReceiverUserId);
            } else {
                _otherUser = await UserService.GetUserDisplayAsync(CallRoom.InitiatorUserId);
            }

            // if (CallRoom.InitiatorUserId == SessionUserId) {
            //     await _module.InvokeVoidAsync("handleInitializeOutcomingCall", _callScreen);
            // }

            _state = State.Success;
            StateHasChanged();
        }

        if (CallRoom.InitiatorUserId == SessionUserId && _state == State.Success && CallRoom.State == CallRoomState.Calling && !_emitOffer) {
            _emitOffer = true;
            await _module!.InvokeVoidAsync("initializeConnectionOffer", _callScreen, _localVideoElement);
        }

        // if (_state == State.CallSetup && !_setupRemoteVideo) {
        //     _setupRemoteVideo = true;
        //     // await _module!.InvokeAsync<IJSObjectReference>("setupRemoteVideoStream", _callScreen, _remoteVideoElement);
        //     //
        //     // _state = State.Calling;
        //     // StateHasChanged();
        // }
    }

    [JSInvokable]
    public async Task SendOffer(string offer) {
        await UserCallService.SendOffer(CallRoom, SessionUserId, offer);
    }

    [JSInvokable]
    public async Task SendAnswer(string answer) {
        await UserCallService.SendAnswer(CallRoom, SessionUserId, answer);
    }

    [JSInvokable]
    public async Task SendIceCandidate(Guid userId, string candidate) {
        await UserCallService.SendIceCandidate(CallRoom, _otherUser!.Value.UserId, candidate);
    }

    private async Task HandleHangUp() {
        await UserCallService.LeaveCall(CallRoom.Id, SessionUserId);
    }

    private async Task HandleAcceptCall() {
        if (CallRoom.InitiatorUserId != SessionUserId && _module != null) {
            if (await UserCallService.AcceptIncomingCall(CallRoom.Id, SessionUserId)) {
                StateHasChanged();
            }
        }
    }

    [JSInvokable]
    public void OnLocalDevicesReceived(string audioInputDeviceId, string audioOutputDeviceId, string videoInputDeviceId) {
        _audioInputDevice = audioInputDeviceId;
        _audioOutputDevice = audioOutputDeviceId;
        _videoInputDevice = videoInputDeviceId;
    }

    private void OnCallAccepted(CallRoom callRoom) {
        if (!ReferenceEquals(CallRoom, callRoom)) {
            return;
        }
        
        Debug.Assert(CallRoom.State == CallRoomState.Calling);

        InvokeAsync(StateHasChanged);
    }

    private void OnOfferReceived(CallRoom callRoom, string offer) {
        if (!ReferenceEquals(callRoom, CallRoom)) {
            return;
        }

        InvokeAsync(async () => {
            if (_module == null) {
                return;
            }
            
            await _module.InvokeVoidAsync("initializeConnectionAnswer", _callScreen, offer, _localVideoElement);
        });
    }
    
    private void OnAnswerReceived(CallRoom callRoom, string answer) {
        if (!ReferenceEquals(callRoom, CallRoom)) {
            return;
        }
        
        InvokeAsync(async () => {
            if (_module == null) {
                return;
            }
            
            await _module.InvokeVoidAsync("handleCallAnswered", _callScreen, answer);
        });
    }
    
    private void OnIceCandidateReceived(CallRoom callRoom, string candidate) {
        if (!ReferenceEquals(callRoom, CallRoom)) {
            return;
        }
        
        InvokeAsync(async () => {
            if (_module == null) {
                return;
            }
            
            await _module.InvokeVoidAsync("addIceCandidate", _callScreen, candidate);
        });
    }

    private void ToggleAudioOptions() {
        _isShowingAudioOptions ^= true;
    }

    private void ToggleVideoOptions() {
        _isShowingVideoOptions ^= true;
    }

    private async Task SetAudioInputDevice(string deviceId) {
        if (_module == null) {
            return;
        }

        await _module.InvokeVoidAsync("setAudioInputDevice", _callScreen, deviceId);
    }

    private async Task SetAudioOutputDevice(string deviceId) {
        if (_module == null) {
            return;
        }
        
        await _module.InvokeVoidAsync("setAudioOutputDevice", _callScreen, deviceId);
    }
    
    private async Task SetVideoInputDevice(string value) {
        if (_module == null) {
            return;
        }

        _videoInputDevice = value;
        await _module.InvokeVoidAsync("setVideoInputDevice", _callScreen, _videoInputDevice);
    }

    public async ValueTask DisposeAsync() {
        UserCallService.OnCallAccepted -= OnCallAccepted;
        UserCallService.OnOfferReceived -= OnOfferReceived;
        UserCallService.OnAnswerReceived -= OnAnswerReceived;
        UserCallService.OnIceCandidateReceived -= OnIceCandidateReceived;
        
        await UserCallService.LeaveCall(CallRoom.Id, SessionUserId);
        
        try {
            if (_callScreen != null) {
                await _module!.InvokeVoidAsync("dispose", _callScreen);
                await _callScreen.DisposeAsync();

                _callScreen = null!;
            }

            if (_module != null) {
                await _module.DisposeAsync();
                _module = null;
            }
        } catch (JSDisconnectedException) {
        }

        _selfReference.Dispose();
        _selfReference = null!;
    }

     private enum State {
         Initializing,
         Success,
     }
}