@using Conflux.Domain.Extensions
@using Conflux.Web.Components.Shared.Icons
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Services
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@implements IDisposable

@inject ICommunityService CommunityService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService
@inject ModalService ModalService
@inject ApplicationRedirectManager RedirectManager
@inject NavigationManager NavigationManager

<section class="z-1000 absolute top-0 inset-x-0 h-16 bg-(--bg-color-1) shadow-lg transition-all duration-500 @(_isDrawerExpanded ? "translate-y-0" : "-translate-y-full")">
    <div class="overflow-x-auto flex flex-row items-center gap-2 h-full p-2">
        <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="bottom" Offset="8">
            <TargetContent>
                <NavLink class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" ActiveClass="border-2 border-blue-700!" href="/lobby" Match="NavLinkMatch.Prefix">
                    <House class="size-6 fill-white"/>
                </NavLink>
            </TargetContent>
                    
            <TooltipContent>
                <p>My Lobby</p>
            </TooltipContent>
        </Tooltip>
        
        @if (_isLoadingJoinedCommunities) {
            <Spinner class="fill-white h-full aspect-square"/>
        } else {
            @foreach (var joinedCommunity in _joinedCommunities) {
                <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="bottom" Offset="8">
                    <TargetContent>
                        <NavLink class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" ActiveClass="border-2 border-blue-700!" href="@($"/community/{joinedCommunity.Id}")" Match="NavLinkMatch.Prefix">
                            <Avatar class="w-full aspect-square" ImageSrc="@(string.IsNullOrEmpty(joinedCommunity.AvatarPath) ? null : ContentService.GetAssetPath(joinedCommunity.AvatarPath))" ImageAlt="@($"Avatar of {joinedCommunity.Name}")"/>
                        </NavLink>
                    </TargetContent>
                    
                    <TooltipContent>
                        <p>@joinedCommunity.Name</p>
                    </TooltipContent>
                </Tooltip>
            }
            
            <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="bottom" Offset="8">
                <TargetContent>
                    <button class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" @onclick="HandleOpenCreateCommunityModal">
                        <Plus class="size-6 fill-white" Large="true"/>
                    </button>
                </TargetContent>
                    
                <TooltipContent>
                    <p>Create a community</p>
                </TooltipContent>
            </Tooltip>
            
            <Tooltip TargetCssClass="inline-block h-full aspect-square" class="p-1.5 rounded-md bg-gray-600 text-white font-semibold shadow-lg whitespace-nowrap" ArrowCssClass="bg-gray-600" Placement="bottom" Offset="8">
                <TargetContent>
                    <button class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md rounded-full h-full aspect-square flex-none cursor-pointer overflow-hidden flex flex-row justify-center items-center" @onclick="OpenLogoutConfirmationModal">
                        <Door Open="true" class="size-6 fill-red-500"/>
                    </button>
                    
                    @* <form method="post" action="/auth/logout" class="rounded-full h-full aspect-square flex-none overflow-hidden" @formname="logout"> *@
                    @*     <AntiforgeryToken/> *@
                    @* *@
                    @*     <button type="submit" class="bg-gray-800 hover:bg-gray-750 active:bg-gray-825 hover:shadow-md flex-none size-full cursor-pointer overflow-hidden flex flex-row justify-center items-center"> *@
                    @*         <Door Open="true" class="size-6 fill-red-500"/> *@
                    @*     </button> *@
                    @* </form> *@
                </TargetContent>
                    
                <TooltipContent>
                    <p>Logout</p>
                </TooltipContent>
            </Tooltip>
        }
    </div>
</section>

<button class="z-1000 absolute @(_isDrawerExpanded ? "top-16" : "top-0") left-1/2 -translate-x-1/2 rounded-b-lg bg-gray-600 shadow-md px-5 py-0.5 cursor-pointer transition-all duration-500" @onclick="ToggleDrawer">
    @if (_isDrawerExpanded) {
        <Chevron Direction="ChevronDirection.Up" Mode="ChevronMode.Compact" class="animate-bounce size-5 fill-white"/>
    } else {
        <Chevron Direction="ChevronDirection.Down" Mode="ChevronMode.Compact" class="animate-bounce size-5 fill-white"/>
    }
</button>

@code {
    private bool _isDrawerExpanded;
    private bool _isLoadingJoinedCommunities;

    private List<CommunityServerDTO> _joinedCommunities = [];
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private Guid _userId;
    
    protected override void OnInitialized() {
        _isLoadingJoinedCommunities = true;
    }

    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;
        if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) is not { } id ||
            !Guid.TryParse(id, out _userId))
        {
            RedirectManager.To("/").Execute();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

            _joinedCommunities = await dbContext.CommunityMembers
                .IncludeBanned()
                .Where(member => member.UserId == _userId)
                .OrderBy(member => member.CreatedAt)
                .Select(member => member.Community)
                .Select(community => new CommunityServerDTO(community.Id, community.Name, community.AvatarPath))
                .ToListAsync();

            _isLoadingJoinedCommunities = false;
            StateHasChanged();

            CommunityService.OnUserCreatedCommunity += OnUserCreatedCommunity;
        }
    }

    private void ToggleDrawer() {
        _isDrawerExpanded ^= true;
    }

    private void HandleOpenCreateCommunityModal() {
        ModalService.Open<CreateCommunityModal>();
    }

    private static readonly RenderFragment _logoutConfirmationBody = @<p>Are you sure you want to logout?</p>;

    private void OpenLogoutConfirmationModal() {
        ModalService.Open<OperationConfirmModal>(parameters: new Dictionary<string, object?> {
            [nameof(OperationConfirmModal.Title)] = "Logout Confirmation",
            [nameof(OperationConfirmModal.Body)] = _logoutConfirmationBody,
            [nameof(OperationConfirmModal.OnConfirm)] = EventCallback.Factory.Create(this, ConfirmLogout),
        });
        return;

        void ConfirmLogout() {
            NavigationManager.NavigateTo("/auth/logout");
        }
    }

    private void OnUserCreatedCommunity(CommunityCreatedEventArgs args) {
        InvokeAsync(async () => {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();
            dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
            
            _joinedCommunities.Add(new(args.Community.Id, args.Community.Name, args.Community.AvatarPath));
            StateHasChanged();
        });
    }

    public void Dispose() {
        CommunityService.OnUserCreatedCommunity -= OnUserCreatedCommunity;
    }

    private readonly record struct CommunityServerDTO(Guid Id, string Name, string? AvatarPath);
}