@using Conflux.Web.Helpers

<div class="p-1 rounded-lg flex flex-row items-center hover:bg-white/15 @(OnClick.HasDelegate ? "active:bg-black/25 cursor-pointer" : string.Empty) @_cssClass" @onclick="@(EventUtils.AsNonRenderingEventHandler(HandleInvokeOnClick))">
    <Avatar ImageSrc="@AvatarSrc" ImageAlt="@($"Avatar of {DisplayName}")" class="h-full mr-2 flex-none"/>

    <div class="flex-1">
        <p>@DisplayName</p>
        
        @if (DisplayName != UserName) {
            <p class="text-xs">@UserName</p>
        }
    </div>
    
    @if (RightContent != null) {
        @RightContent
    }
</div>

@code {
    [Parameter, EditorRequired] public required string DisplayName { get; set; }
    [Parameter] public string? UserName { get; set; }
    [Parameter] public string? AvatarSrc { get; set; }
    [Parameter, EditorRequired] public required Guid UserId { get; set; }
    [Parameter] public required Guid? MemberId { get; set; }

    [Parameter] public EventCallback<UserCard> OnClick { get; set; }
    
    [Parameter] public RenderFragment? RightContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    private async Task HandleInvokeOnClick() {
        if (OnClick.HasDelegate) {
            await OnClick.InvokeAsync(this);
        }
    }
}