@page "/lobby/messages/{ConversationId}"

@using Conflux.Components.Shared
@using Conflux.Database
@using Conflux.Database.Entities
@using Conflux.Services
@using Conflux.Services.Abstracts
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inject ILogger<DirectMessagingPage> Logger
@inject IConversationService ConversationService
@inject ApplicationRedirectManager RedirectManager
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<div class="flex flex-col size-full overflow-hidden">
    <header class="flex-none p-1.5 border-b border-b-gray-600 bg-gray-725 flex flex-row items-center">
        @switch (_initState) {
            case InitializationState.Initializing:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>Loading...</p>
                break;

            case InitializationState.NoPermission:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>You shouldn't be here.</p>
                break;

            case InitializationState.NoConversation:
                <Avatar ImageSrc="@null" ImageAlt="@null" class="size-8 mr-2"/>
                <p>Nothing here...</p>
                break;

            case InitializationState.Success:
                <Avatar ImageSrc="@_headerContent.Avatar" ImageAlt="@(string.IsNullOrEmpty(_headerContent.Avatar) ? null : "Friend Avatar")" ScaleX="_headerContent.AvatarScaleX" ScaleY="_headerContent.AvatarScaleY" class="size-8 mr-2"/>
                <p>@_headerContent.Title</p>
                break;
        }
    </header>

    <main class="flex-1 overflow-hidden">
        <div class="flex flex-row h-full">
            <MessagingArea class="flex-1 border-r border-r-gray-600" ConversationId="_conversationId" OnMessageSendRequest="HandleSendMessage"/>
            
            <aside class="flex-none basis-80 hidden lg:block bg-gray-750"></aside>
        </div>
    </main>
</div>

@code {
    [Parameter] public string? ConversationId { get; set; }
    private Guid? _conversationId;

    private HeaderDisplayContent _headerContent = null!;
    private InitializationState _initState;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private string _userId = null!;

    protected override void OnParametersSet() {
        if (Guid.TryParse(ConversationId, out var conversationId)) {
            _conversationId = conversationId;
            _initState = InitializationState.Initializing;
        } else {
            _conversationId = null;
            _initState = InitializationState.NoConversation;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && _initState == InitializationState.Initializing) {
            try {
                var authState = await AuthenticationState;
                _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

                if (string.IsNullOrEmpty(_userId)) {
                    _initState = InitializationState.NoPermission;
                    return;
                }

                Guid conversationId = _conversationId!.Value;

                await using (var dbContext = await DbContextFactory.CreateDbContextAsync()) {
                    var headerContent = await dbContext.Conversations
                        .Where(c => c.Id == conversationId && c.Members.Any(m => m.UserId == _userId))
                        .Select(c => c.Members.First(m => m.UserId != _userId))
                        .Select(m => m.UserId)
                        .Join(dbContext.Users, id => id, u => u.Id, (id, u) => new HeaderDisplayContent {
                            Title = u.DisplayName,
                            Avatar = u.AvatarProfilePath,
                            AvatarScaleX = u.AvatarScaleX,
                            AvatarScaleY = u.AvatarScaleY,
                        })
                        .FirstOrDefaultAsync();

                    if (headerContent == null) {
                        _initState = InitializationState.NoConversation;
                    } else {
                        _initState = InitializationState.Success;
                        _headerContent = headerContent;
                    }
                }
            } finally {
                StateHasChanged();
            }
        }
    }

    private async Task HandleSendMessage(string body) {
        if (_conversationId == null) return;
        
        await ConversationService.SendMessageAsync(_conversationId.Value, _userId, body, null);
    }

    private enum InitializationState {
        Initializing,
        NoPermission,
        NoConversation,
        Success,
    }

    private sealed class HeaderDisplayContent {
        public required string? Avatar { get; init; }
        public required double AvatarScaleX { get; init; }
        public required double AvatarScaleY { get; init; }
        public required string? Title { get; init; }
    }
}