@page "/setup-profile"

@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations

@attribute [Authorize]

@implements IAsyncDisposable

@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject UserManager<ApplicationUser> UserManager
@inject IContentService ContentService
@inject IJSRuntime JavascriptRuntime

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@* TODO: Deferring Edit *@

<div class="fixed bg-fixed inset-0 mesh-bg-1"></div>

@if (_user == null) {
    <div class="absolute inset-0 overflow-hidden flex flex-row justify-center items-center">
        <section class="bg-gray-700 rounded-3xl shadow-xl text-white overflow-visible relative p-6">
            <Spinner class="mx-auto size-16 fill-white"/>

            <p class="text-sm text-gray-400 text-center mt-2">Please hold...</p>
        </section>
    </div>
} else {
    <div class="fixed inset-0 overflow-hidden grid grid-cols-12 transition-transform duration-500 ease-in-out @(_showPrompt ? "translate-x-0" : "-translate-x-full!")">
        <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 xl:col-start-4 xl:col-end-10 flex flex-row justify-center items-center">
            <section class="bg-gray-700 sm:m-5 w-full rounded-3xl shadow-xl text-white overflow-visible relative p-6">
                <h1 class="text-center font-bold text-3xl text-white">Hold up</h1>

                <p class="mt-2 text-center">Before going further, you need to setup your profile first!</p>
                <p class="text-sm text-gray-400 text-center mt-2">You don't want to be an unknown, don't you?</p>

                <div class="flex flex-row justify-center mt-2">
                    <button class="button-primary inline-flex flex-row items-center py-2!" @onclick="HidePrompt">
                        Show me the way

                        <Arrow Variations="ArrowVariations.Right" class="ml-2 size-6 fill-white"/>
                    </button>
                </div>
            </section>
        </div>
    </div>
    
    <div class="fixed inset-0 overflow-hidden grid grid-cols-12 transition-transform duration-500 ease-in-out @(_showPrompt ? "translate-x-full" : _stage == SetupStage.Avatar ? "translate-x-0" : "-translate-x-full")">
        <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 xl:col-start-4 xl:col-end-10 flex flex-row justify-center items-center">
            <section class="bg-gray-700 sm:m-5 w-full rounded-3xl shadow-xl text-white overflow-visible relative p-6">
                <h1 class="text-center font-bold text-3xl text-white">Setup Avatar</h1>
                <p class="text-center text-gray-400 text-sm mt-2">Make yourself look special</p>

                <EditForm FormName="Avatar" class="mt-2" EditContext="_avatarEditContext" method="post" OnSubmit="OnAvatarSubmit">
                    <AntiforgeryToken/>
                    
                    @{
                        string imageCssClass = $"size-64 border-4 rounded-full {(_avatarEditContext.IsValid(_avatarFileField) ? "border-gray-700" : "border-red-700")}";
                    }
                    
                    <div class="flex justify-center">
                        <PreviewableImageInput class="@imageCssClass" @ref="_avatarInputElement" @bind-File="AvatarModel!.File" ImageSrc="@null"/>
                    </div>
                    
                    @if (_avatarInputElement != null) {
                        <Popover TargetReference="_avatarInputElement.RootElementReference" IsShowing="!_avatarEditContext.IsValid(_avatarFileField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8">
                            <ValidationMessage For="() => AvatarModel!.File" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                        </Popover>
                    }
                    
                    <div class="flex flex-row justify-center">
                        <ProcessingStateButton @bind-IsProcessing="_processingAvatar" class="mt-2 button-primary inline-flex flex-row items-center" type="submit">
                            <ChildContent>
                                Next <Arrow Variations="ArrowVariations.Right" class="ml-2 size-6 fill-white"/>
                            </ChildContent>
                            
                            <ProcessingContent>
                                <Spinner class="size-6 fill-white"/>
                            </ProcessingContent>
                        </ProcessingStateButton>
                    </div>
                </EditForm>

            </section>
        </div>
    </div>
    
    <div class="fixed inset-0 overflow-hidden grid grid-cols-12 transition-transform duration-500 ease-in-out @(_showPrompt ? "translate-x-full" : _stage == SetupStage.Profile ? "translate-x-0" : "translate-x-full")">
        <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 xl:col-start-4 xl:col-end-10 flex flex-row justify-center items-center">
            <section class="bg-gray-700 m-0 max-h-dvh sm:m-5 sm:max-h-[calc(100vh-2.5rem)] w-full rounded-3xl shadow-xl text-white relative py-6 flex flex-col overflow-hidden">
                <div class="flex-none">
                    <h1 class="text-center font-bold text-3xl text-white">Setup Profile</h1>
                    <p class="text-center text-gray-400 text-sm mt-2">Make a name of yourself, literally</p>
                </div>
                
                <EditForm EditContext="_profileEditContext" method="post" FormName="Profile" class="mt-2 overflow-auto flex-auto px-8">
                    <DataAnnotationsValidator/>
                    
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <label class="font-semibold">Username</label>

                            <InputText @ref="_usernameInputElement" @bind-Value="ProfileModel!.UserName" class="mt-2 input-field h-11 w-full" maxlength="32"/>
                            
                            @if (_usernameInputElement?.Element.HasValue ?? false) {
                                <Popover TargetReference="_usernameInputElement.Element.Value" IsShowing="!string.IsNullOrEmpty(_usernameError) || !_profileEditContext.IsValid(_usernameField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" class="max-w-[90%]">
                                    @if (string.IsNullOrEmpty(_usernameError)) {
                                        <ValidationMessage For="() => ProfileModel!.UserName" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                                    } else {
                                        <p class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md">@_usernameError</p>
                                    }
                                </Popover>
                            }

                            <p class="text-sm text-red-500 mt-1 text-center">Warning: Username is immutable!</p>
                        </div>

                        <div>
                            <label class="font-semibold">Display Name</label>

                            <InputText @ref="_displayNameInputElement" @bind-Value="ProfileModel!.DisplayName" class="mt-2 input-field h-11 w-full" maxlength="32"/>
                            
                            @if (_displayNameInputElement?.Element.HasValue ?? false) {
                                <Popover TargetReference="_displayNameInputElement.Element.Value" IsShowing="!_profileEditContext.IsValid(_displayNameField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" class="max-w-[90%]">
                                    <ValidationMessage For="() => ProfileModel!.DisplayName" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md]"/>
                                </Popover>
                            }
                        </div>

                        <div>
                            <label class="font-semibold">Pronouns</label>

                            <InputText @ref="_pronounsInputElement" @bind-Value="ProfileModel!.Pronouns" class="mt-2 input-field h-11 w-full" maxlength="32"/>
                            
                            @if (_pronounsInputElement?.Element.HasValue ?? false) {
                                <Popover TargetReference="_pronounsInputElement.Element.Value" IsShowing="!_profileEditContext.IsValid(_pronounsField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" class="max-w-[90%]">
                                    <ValidationMessage For="() => ProfileModel!.Pronouns" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                                </Popover>
                            }
                        </div>

                        <div class="col-start-1 col-end-2 md:col-end-3">
                            <label class="font-semibold">About Me</label>

                            <InputTextArea @ref="_bioInputElement" @bind-Value="ProfileModel!.Bio" class="mt-2 input-field h-55 w-full px-1.5 py-1 resize-none" maxlength="255"/>
                            
                            @if (_bioInputElement?.Element.HasValue ?? false) {
                                <Popover TargetReference="_bioInputElement.Element.Value" IsShowing="!_profileEditContext.IsValid(_bioField)" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" class="max-w-[90%]">
                                    <ValidationMessage For="() => ProfileModel!.Bio" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                                </Popover>
                            }
                        </div>
                    </div>
                </EditForm>

                <div class="flex flex-row justify-around items-center flex-none">
                    <button class="mt-2 button-primary inline-flex flex-row justify-center items-center gap-2 w-36 py-2!" @onclick="ToSetupAvatar">
                        <Arrow Variations="ArrowVariations.Left" class="size-6 fill-white"/>

                        Previous
                    </button>

                    <SpinnerButton @bind-IsSpinning="_isProcessingProfile" type="submit" class="mt-2 button-primary inline-flex flex-row justify-center items-center gap-2 w-36" @onclick="HandleProfileSubmit" SpinnerCssClass="size-6 fill-white">
                        Next

                        <Arrow Variations="ArrowVariations.Right" class="size-6 fill-white"/>
                    </SpinnerButton>
                </div>
            </section>
        </div>
    </div>
    
    <div class="fixed inset-0 overflow-hidden grid grid-cols-12 transition-transform duration-500 ease-in-out @(_showPrompt ? "-translate-x-full" : _stage == SetupStage.Complete ? "translate-x-0" : "-translate-x-full")">
        <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 xl:col-start-4 xl:col-end-10 flex flex-row justify-center items-center">
            <section class="bg-gray-700 sm:m-5 w-full rounded-3xl shadow-xl text-white overflow-visible relative p-6">
                <h1 class="text-center font-bold text-3xl text-white">Setup Complete</h1>
                <p class="text-center text-gray-400 text-sm mt-2">One of us, one of us...</p>

                <div class="flex flex-row justify-center">
                    <form method="post" action="/auth/confirm-profile-setup" class="mt-2 w-full flex justify-center items-center">
                        <AntiforgeryToken/>
                    
                        <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>
                    
                        <button type="submit" class="button-primary py-2!">
                            Complete
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery(Name = "ReturnUrl")] private string? ReturnUrl { get; set; }

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private ApplicationUser? _user;

    private bool _showPrompt = true;
    private SetupStage _stage;
    
    private InputText? _usernameInputElement, _displayNameInputElement, _pronounsInputElement;
    private InputTextArea? _bioInputElement;
    
    [SupplyParameterFromForm(FormName = "Avatar")] private AvatarInputModel? AvatarModel { get; set; }
    private EditContext _avatarEditContext = null!;
    private ValidationMessageStore _avatarMessageStore = null!;
    private PreviewableImageInput? _avatarInputElement;
    private bool _processingAvatar;
    private FieldIdentifier _avatarFileField;

    [SupplyParameterFromForm(FormName = "Profile")] private ProfileInputModel? ProfileModel { get; set; }
    private EditContext _profileEditContext = null!;
    private ValidationMessageStore _profileMessageStore = null!;
    private FieldIdentifier _usernameField, _displayNameField, _pronounsField, _bioField;
    private string? _usernameError;

    private bool _isProcessingProfile;

    protected override void OnInitialized() {
        AvatarModel ??= new();
        ProfileModel ??= new();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            
            _user = (await UserManager.GetUserAsync(authState.User))!;
            if (_user == null!) {
                NavigationManager.NavigateTo("/", true);
                return;
            }

            _stage = SetupStage.Avatar;

            _avatarEditContext = new(AvatarModel!);
            _avatarMessageStore = new(_avatarEditContext);

            _avatarEditContext.OnValidationRequested += ValidateAvatar;

            _avatarFileField = FieldIdentifier.Create(() => AvatarModel!.File);

            _profileEditContext = new(ProfileModel!);
            _profileMessageStore = new(_profileEditContext);

            _profileEditContext.OnValidationRequested += ValidateProfile;
            
            _usernameField = FieldIdentifier.Create(() => ProfileModel!.UserName);
            _displayNameField = FieldIdentifier.Create(() => ProfileModel!.DisplayName);
            _pronounsField = FieldIdentifier.Create(() => ProfileModel!.Pronouns);
            _bioField = FieldIdentifier.Create(() => ProfileModel!.Bio);
            
            StateHasChanged();
        }
    }

    private void HidePrompt() {
        _showPrompt = false;
    }

    private void ToSetupAvatar() {
        _stage = SetupStage.Avatar;
    }

    private async Task OnAvatarSubmit() {
        if (_avatarEditContext.Validate()) {
            if (AvatarModel!.File is { File: { } avatarFile }) {
                _processingAvatar = true;
                
                try {
                    await using var imageStream = avatarFile.OpenReadStream(ApplicationConstants.MaxUserAvatarSize);
                
                    string databasePath = await ContentService.UploadUserAvatarAsync(imageStream, _user!.Id);
                    _user.AvatarProfilePath = databasePath;
                
                    await UserService.UpdateAsync(_user);
                    
                    _stage = SetupStage.Profile;
                } finally {
                    _processingAvatar = false;
                    StateHasChanged();
                }
            } else {
                await ContentService.DeleteUserAvatarAsync(_user!.Id);
                _stage = SetupStage.Profile;
            }
        }
    }

    private async Task HandleProfileSubmit() {
        if (!_profileEditContext.Validate()) {
            return;
        }
        
        _isProcessingProfile = true;

        try {
            _user!.UserName = ProfileModel!.UserName.Trim();
            _user.DisplayName = ProfileModel.DisplayName.Trim();
            _user.Pronouns = ProfileModel.Pronouns?.Trim();
            _user.Bio = ProfileModel.Bio?.Trim();
            
            var result = await UserService.UpdateAsync(_user);

            if (result.Succeeded) {
                _stage = SetupStage.Complete;
                return;
            }

            foreach (var error in result.Errors) {
                switch (error.Code) {
                    case nameof(IdentityErrorDescriber.DuplicateUserName):
                        if (string.IsNullOrEmpty(_usernameError)) {
                            _usernameError = "This username has been taken.";
                        }
                        break;
                        
                    case nameof(IdentityErrorDescriber.InvalidUserName):
                        if (string.IsNullOrEmpty(_usernameError)) {
                            _usernameError = "Username contains invalid character.";
                        }
                        break;
                        
                    case var _ when error.Code.Contains("UserName"):
                        if (string.IsNullOrEmpty(_usernameError)) {
                            _usernameError = error.Description;
                        }
                        break;
                }
            }
        } finally {
            _isProcessingProfile = false;
        }
    }

    private void ValidateAvatar(object? sender, ValidationRequestedEventArgs args) {
        _avatarMessageStore.Clear();
        
        if (AvatarModel!.File.Operation == ImageUploadOperation.Upload && AvatarModel!.File.File is { } browserFile) {
            if (browserFile.ContentType is not "image/png" and not "image/jpeg" and not "image/jpg") {
                _avatarMessageStore.Add(_avatarFileField, "Avatar file is not valid PNG or JPEG.");
                return;
            }

            if (browserFile.Size > ApplicationConstants.MaxUserAvatarSize) {
                _avatarMessageStore.Add(_avatarFileField, $"Avatar surpassed maximum allowed size of {ApplicationConstants.MaxUserAvatarSize} bytes.");
            }
        }
    }
    
    private void ValidateProfile(object? sender, ValidationRequestedEventArgs args) {
        _profileMessageStore.Clear();
        _usernameError = string.Empty;
    }

    public async ValueTask DisposeAsync() {
        try {
            if (AvatarModel?.File.PreviewUrl is { } previewUrl) {
                await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", previewUrl);
            }
        } catch (JSDisconnectedException) {
        }
    }

    private enum SetupStage {
        Initialize,
        Avatar,
        Profile,
        Complete,
    }

    private sealed class AvatarInputModel {
        public ImageUploading File { get; set; }
    }

    private sealed class ProfileInputModel {
        [StringLength(32, MinimumLength = 8, ErrorMessage = "Username must be between {2} and {1} characters.")]
        [Required(ErrorMessage = "Username is required.")]
        public string UserName { get; set; } = null!;
        
        [StringLength(32, MinimumLength = 8, ErrorMessage = "Display Name must be between {2} and {1} characters.")]
        [Required(ErrorMessage = "Display Name is required.")]
        public string DisplayName { get; set; } = null!;
        
        [StringLength(32, ErrorMessage = "Pronouns cannot be longer than {1} characters.")]
        public string? Pronouns { get; set; }
        
        [StringLength(255, ErrorMessage = "About Me cannot be longer than {1} characters.")]
        public string? Bio { get; set; }
    }
}